@charset "utf-8";
/* CSS Document */
#header > #logo_pic{background-color:#8A7354;}
#header > #link_search{background-color:#8A7354;}

/*网页侧边栏*/
#side{background-color: #8A7354;}
#side #school_link #first{background-color: #6F5737;}

/*网页右侧内容*/
#r_content #menu #menu_ul{background-color: #8A7354;}
#r_content #menu #menu_ul #nav{padding-left:50px;}
#r_content #menu #menu_ul #nav li a:hover{color: #8A7354;}
.previous b:hover, .next b:hover{color: #8A7354;}

/*当前位置*/
.CategoryNavigationBar a:hover{color:#8A7354;}

/*postlist*/
#postList{margin-left:20px; height:auto;}

/*新闻和公共*/
#r_content #am .title, #r_content #new .title, #r_content #job .title{color: #8A7354;}
#r_content .detail .content_li{background-image:url(../images/GongXue_news_dt.png);}
#r_content .detail .current{background-image:url(../images/GongXue_news_dt.png);}
#r_content .detail .current a:hover{color: #8A7354;}
#r_content .list_more a{color:#000;}
#r_content .list_more a:hover{color: #8A7354;}

/*页脚部分*/
#footer{background-color: #8A7354;}