@charset "utf-8";
/* CSS Document */
#header > #logo_pic{background-color:#9e379f;}
#header > #link_search{background-color:#9e379f;}
/*网页侧边栏*/
#side
{background-color: #9e379f;}

#side #school_link #first
{background-color: #6f0770;}

/*网页右侧内容*/
li .sub {background-color: #9E379F;height:100px;border-top:2px solid #6f0770;}
#r_content #menu #menu_ul
{background-color: #9e379f;}
#r_content #menu #menu_ul #nav{padding-left:50px;}
#r_content #menu #menu_ul #nav li a:hover{color: #9e379f;}
.previous b:hover, .next b:hover{color: #9e379f;}
/*当前位置*/
.CategoryNavigationBar a:hover{color:#9e379f;}
/*postlist*/
#postList{margin-left:20px; height:auto;}
/*新闻和公共*/
#r_content #am .title, #r_content #new .title, #r_content #job .title{color: #9e379f;}
#r_content .detail .content_li{background-image:url(../images/MeiShu_news_dt.png);}
#r_content .detail li{background-image:url(../images/MeiShu_news_dt.png);}
#r_content .detail li a:hover{color: #9e379f;}
#r_content .list_more a{color:#000;}
#r_content .list_more a:hover{color: #9e379f;}
/*页脚部分*/
#bottom2{background-color: #9e379f;}