@charset "utf-8";
/* CSS Document */
#header > #logo_pic{background-color:#00366b;}
#header > #link_search{background-color:#00366b;}
/*网页侧边栏*/
#side
{background-color: #00366b;}

#side #school_link #first
{background-color: #056e9e;}

/*网页右侧内容*/
#r_content #menu #menu_ul
{background-color: #00366b;}
#r_content #menu #menu_ul #nav{padding-left:50px;}
#r_content #menu #menu_ul #nav li a:hover{color: #00366b;}
.previous b:hover, .next b:hover{color: #00366b;}
/*当前位置*/
.CategoryNavigationBar a:hover{color:#00366b;}
/*postlist*/
#postList{margin-left:20px; height:auto;}
/*新闻和公共*/
#r_content #am .title, #r_content #new .title, #r_content #job .title{color: #00366b;}
#r_content .detail .content_li{background-image:url(../images/XinXi_news_dt.png);}
#r_content .detail li{background-image:url(../images/XinXi_news_dt.png);}
#r_content .detail li a:hover{color: #00366b;}
#r_content .list_more a{color:#000;}
#r_content .list_more a:hover{color: #00366b;}
/*页脚部分*/
#bottom2{background-color: #00366b;}