#middle
{
	position: relative;
	display: block;
	width: 990px;
	min-height: 588px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;	
}

#photoslider
{
	position: absolute;
	display: block;
	top: 0px;
	left: 10px;
	width: 375px;
	height: 265px;
}

#text
{
	font-size: 14px;
	color: #fff;
	margin-top: 10px;
	margin-left: 20px;
}

#schoollabel
{
	position: absolute;
	top: 0;
	left: -6px;
	height: 50px;
	width: 280px;
	background: url(../images/label.png) no-repeat;	
}

#newslabel
{
	position: absolute;
	top: 0;
	left: -6px;
	height: 50px;
	width: 280px;
	background: url(../images/label.png) no-repeat;	
}

#labellong
{
	position: absolute;
	top: 0;
	left: -6px;
	height: 50px;
	width: 370px;
	background: url(../images/labellong.png) no-repeat;	
}

#middle span#text
{
	display: block;
	color: white;
	font-size: 14px;
	padding: 3px 0 0 0;
	font-weight: bold;
}


#morelabel
{
	position: absolute;
	display: block;
	height: 20px;
	width: 50px;
	bottom: 10px;
	right: 5px;
	background: #60be00;
	border-radius: 5px;	
}

#morelabel a
{
	color: white;
	display: block;
	height: 100%;
	width: 100%;
	font-weight: bold;
	text-decoration: none;
	padding: 4px 0;
	z-index: 5;
	text-align: center;
}

#linklabel
{
	position: absolute;
	top: 0;
	left: -6px;
	height: 50px;
	width: 280px;
	background: url(../images/label.png) no-repeat;	
}

#news
{
	position: absolute;
	top: 0;
	left: 400px;
	height: 560px;
	width: 280px;
	background: white;
	border-radius: 5px;
}

#xwdtList1
{
	width:100%;
}

#inform
{
	position: absolute;
	top: 270px;
	left: 10px;
	width: 370px;
	height: 290px;
	background: white;
	border-radius: 5px;
}

#usedlink
{
	position: absolute;
	top: 410px; 
	left: 700px;
	width: 280px;
	height: 150px;
	background: white;
	border-radius: 5px;	
}

#usedlink  ul
{
	display: block;
	position: absolute;
	padding: 0;
	margin: 0;
	top: 40px;
	left: 20px;
	list-style: none;
}

#usedlink  ul li
{
	width: 100px;
}

#usedlink  ul li a
{
	width: 100%;
	display: block;
	color: #696969;
	text-decoration: none;
	padding: 2px 0 3px 15px;
	margin: 5px;
	border-bottom: 1px #ccc dashed;
}

#usedlink  ul li a:hover
{
	color: #999;
}

#jgzj
{
	position:absolute;
	top: 0;
	left: 700px;
	width: 280px;
	height: 150px;
	background: white;
	border-radius: 5px;
}

#jgzjlabel{
	position: absolute;
	top: 0;
	left: -6px;
	height: 50px;
	width: 280px;
	background: url(../images/label.png) no-repeat;
}


#jgzjContent ul{
	margin:0;
	padding:0;
}

#jgzjContent{
	width:100%;
	height:100px;
	position: absolute;
	top: 40px;
	left: 0px;
	margin:0;
	padding:0;
}

#jgzjLeft{
	width:140px;
	height:100%;
	float:left;
	margin-left:20px;
}
#jgzjRight{
	width:100px;
	height:100%;
	float:left;
}
.biaodan{
	width:100%;
	height:35px;
}

.biaodan span{
	display:block;
	width:50px;
	height:100%;
	line-height:35px;
	float:left;
	font-size:18px;
	color:#4a8c25;
	font-weight:bold;
}

.biaodan input{
	display:block;
	width:85px;
	height:20px;
	float:right;
	margin-top:5px;
	border:1px solid #478124;
	font-size:15px;
}

.button{
	width:80px;
	height:30px;
	float:right;
}

.button input{
	display:block;
	width:80px;
	height:30px;
	border:0px solid transparent;
	background-color:transparent;
	cursor:pointer;
}

#submit:hover{
	diaplay:block;
	background-image: url(../images/dengluh.png);
	background-repeat: no-repeat;
}

#quit:hover{
	background: url(../images/quith.png) no-repeat;
}

#school
{
	position:absolute;
	top: 165px;
	left: 700px;
	width: 280px;
	height: 230px;
	background: white;
	border-radius: 5px;
}

ul#text_school
{
	display: block;
	position: absolute;
	top: 50px;
	margin: 0;
    padding: 0;
	list-style:none inside url(/static/common/images/list.png);
}

ul#text_school li
{
	width: 260px;
    line-height: 20px;
    margin: 0 0 10px 0;
    padding:　0;      
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: 1px #ddd solid;
    white-space:nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

ul#text_school li a
{
	text-decoration: none;
	color: #111;
}

ul#text_school li a:hover
{
	color: #aaa;
}

ul#text_school li a  div
{
	display: inline;
}



ul#text_inform
{
	position: absolute;
	display: block;
	top: 50px;
	padding: 0;
	margin: 0;
	list-style: inside url(/static/common/images/list.png);
	white-space:nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

ul#text_inform   li
{
	width: 360px;
	line-height: 20px;
    margin: 0 0 10px 0;
    padding:　0;      
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: 1px #ddd solid;
    white-space:nowrap;
	text-overflow: ellipsis;
	overflow: hidden;	
}

ul#text_inform  li  a
{	
	text-decoration: none;
	color: #111;
}

ul#text_inform   li   a:hover
{
	color: #aaa;
}

ul#text_inform li a   div
{
	display: inline;
}

ul#textContent
{
	width:280px;
	position: absolute;
	display: block;
	top: 250px;
	padding: 0;
	margin: 0;
	list-style: inside url(/static/common/images/list.png);
}

ul#textContent   li
{
	width: 260px;
	line-height: 20px;
    margin: 0 0 10px 0;
    padding:　0;      
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: 1px #ddd solid;	
    white-space:nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

ul#textContent   li   a
{
	text-decoration: none;
	color: #111;
}

ul#textContent   li   a:hover
{
	color: #aaa;
}

ul#textContent li a   div
{
	display: inline;
}

ul.PhotoList
{
	position: absolute;
	display: block;
	top: 50px;
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.PhotoList li
{
	width: 100%;
}


ul.PhotoList li a
{
	display: block;
	width: 260px;
	height: 100%;
	text-decoration: none;
	color: #000;
	padding: 10px;
	margin: auto;
	border-bottom: 1px green dashed;
}

ul.PhotoList li a img
{
	display:block;
	width:200px;
	height:130px;
	margin:0 auto;
	box-shadow: gray 0px 1px 10px;
}

ul.PhotoList li a #title
{
	display: block;
	width: 260px;
	height: 25px;
	color: #000;
	font-weight: bold;
	margin-top: 10px;
	line-height: 15px;
}
