@CHARSET "UTF-8";

#content
{
	width: 990px;
	height: 880px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#content > #left
{
	width: 609px;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	border-right: 1px solid #f3f3f3;
}

.block_home_slider {
	width:580px;
	height:320px;
	padding:1px;
	position:relative;
	
	background-color:#ffffff;
	border:4px solid #e8e8e8;
	
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	
	text-align:center;
	line-height:0px;
}

.block_home_slider .slide {position:relative; height: 320px; over-flow: hidden;}
.block_home_slider .caption {padding:0px; position:absolute; left:0px; right:0px; bottom:0px; background: rgba(0, 0, 0, 0.3); text-align:center; height: 30px;}
.block_home_slider .caption p {padding-bottom:0px; font-size:11px; color:#dedede; text-shadow:0px -1px #000000; line-height:11px;}
.block_home_slider .caption p.title {padding-bottom:6px; font-size:15px; color:#ffffff; font-weight:bold; line-height:5px;}
.block_home_slider .flex-direction-nav a {width:25px; height:25px; margin-top:-27px; display:block; position:absolute; top:50%; background-repeat:no-repeat; background-image:url(../../home/images/sprite_arrow_2.png); text-indent:-9000px;}
.block_home_slider .flex-direction-nav a.flex-prev {left:6px; background-position:left top;}
.block_home_slider .flex-direction-nav a.flex-prev:hover {background-position:left bottom;}
.block_home_slider .flex-direction-nav a.flex-next {right:6px; background-position:right top;}
.block_home_slider .flex-direction-nav a.flex-next:hover {background-position:right bottom;}
.block_home_slider .flex-control-paging {padding-top:15px; display:inline-block;}
.block_home_slider .flex-control-paging li {margin:0px; padding:0px; float:left; overflow:hidden;}
.block_home_slider .flex-control-paging li a {width:12px; height:12px; display:block; background-repeat:no-repeat; background-image:url(../../home/images/sprite_nav_3.png); text-indent:-9000px; cursor:pointer;}
.block_home_slider .flex-control-paging li a.flex-active {background-position:right top;}



#content > #left > #news
{
	width: 595px;
	height: 264px;
	position: absolute;
	top: 350px;
	left: 0;
}

#content > #left > #news > span
{
	float: left;
	display: block;
	width: 595px;
	border-bottom: 1px #5F8A49 solid;
}

#content > #left > #schoolnews
{
	width: 595px;
	height: 264px;
	position: absolute;
	top: 620px;
	left: 0;
}

#content > #left > #schoolnews > span
{
	float: left;
	display: block;
	width: 595px;
	border-bottom: 1px #5F8A49 solid;
}

#content > #right
{
	width: 380px;
	height: 817px;
	position: position;
	right: 0;
	margin: 0;
	padding: 0;
}



#part1
{
	width: 300px;
	height: 220px;
	border-right: 1px solid #ddd;
	margin-top: 10px;
	float: left;
}

#part1 ul.PhotoList
{
	height: 220px;
	width: 300px;
	padding: 0;
	margin: -27px 0 0 0;
	float: left;
}

#part1 ul.PhotoList li
{
	height: 65px;
	width: 300px;
	position: relative;
	left: 0;
	margin-top: 15px;
}


#part1 ul.PhotoList li a
{
	text-decoration: none;
	left: 0;
	top: 5px;
	height: 65px;
	width: 360px;
	position: absolute;
}

#part1 ul.PhotoList li a img
{
	width: 100px;
	height: 65px;
	left: 0;
	border:4px solid #e8e8e8;	
	border-radius:3px;
	position: absolute;
}

#part1 ul.PhotoList li a #title
{
	width: 170px;
	position: absolute;
	height: 15px;
	top: 8px;
	left: 120px;
	font-weight: bold;
	color: #000;
	line-height: 18px;
}

#part2
{
	list-style: none;
	margin: 0;
    padding: 0;
}

#part2 ul.TextList
{
	display: block;
	margin: 10px 0 0 10px;
    padding: 0;
	list-style:none inside url(/static/common/images/list.png);
}

#part2 ul.TextList li
{
    line-height: 20px;
    margin: 0 0 10px 0;
    padding:　0;      
    margin-left: 5px;
    white-space:nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

#part2 ul.TextList li a
{
	text-decoration: none;
	color: rgba(0, 0, 0, 0.8);
}

#part2 ul.TextList li a:hover
{
	color: rgba(0, 0, 0, 0.4);
}

#part2 ul.TextList li a > div
{
	display: inline;
}

/*#part2 ul.TextList li
{
    margin: 0 0 10px 0;
    background-image: url(/static/common/images/list.png) no-repeat;
}

#part2 ul.TextList li a 
{
	font-size: 12px;
	color: #000;
	text-decoration: none;
}

#part2 ul.TextList li a > div#title
{
	line-height: 15px;
	white-space:nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

#part2 ul.TextList li a:hover
{
	color : rgba(0, 0, 0, 0.5);
}*/


/*
#right_part
{
	width: 360px;
	height: auto;
	margin: -10px 0 0 10px;
	float: left;
}

#right_part ul.PhotoSummaryList
{
	width: 370px;
	margin: -5px 0 0 0;
	padding: 0;	 
}

#right_part ul.PhotoSummaryList li
{
	height: 90px;
	width: 370px;
	position: relative;
	left: 0;
	margin-top: -7px;
}

#right_part ul.PhotoSummaryList li a
{
	text-decoration: none;
	left: 0;
	top: 5px;
	height: 65px;
	width: 360px;
	position: absolute;
}

#right_part ul.PhotoSummaryList li a img
{
	width: 100px;
	height: 65px;
	left: 0;
	border:4px solid #f2f2f2;	
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	position: absolute;
}

#right_part ul.PhotoSummaryList li a span#title
{
	width: 250px;
	position: absolute;
	height: 25px;
	left: 120px;
	font-weight: bold;
	color: #000;
	text-overflow: ellipsis;
	overflow: shidden;
}

#right_part ul.PhotoSummaryList li a span#summary
{
	width: 250px;
	position: absolute;
	left: 120px;
	margin-top: 28px;
	height: 36px;
	color : rgba(0, 0, 0, 0.5);
	overflow: hidden;
	text-overflow: ellipsis;
}

*/
/*专题报道*/
/*#topic 
{
	position: absolute;
	width: 380px;
	height: 300px;
	right: 0;
	top: 0;
}*/

#inform
{
	width: 380px;
	height: 300px;
	position: absolute;
	right: 0;
	top: 0;
}


#fastPipe{
	width: 380px;
	height: 265px;
	position: absolute;
	right: 0;
	top: 350px;	
	
}

#fastPipe #box_test
{
	width: 366px;
	border: 1px #5F8A49 solid;
	margin-left: 10px;
	float: left;
	background: url(/static/home/images/green.png);
}


#fastPipe  ul
{
	list-style: none;
	margin: 0 0 0 10px;
	padding: 0;	
	width: 370px;
	float: left;
}



#fastPipe ul > li
{
	width: 120px;
	margin-right:20px;
	margin-left: 20px;
	float: left;
}

#fastPipe ul > li > a
{
	font-weight: bold;
	display: block;
	text-decoration: none; 
	text-align: center;
	height: 12px;
	line-height: 12px;
	padding: 10px 14px;
	/*border-radius: 17px;*/
	margin-top: 20px;
	white-space: nowrap;
	font-size: 12px;
	background-color: transparent;
	background: none repeat scroll 0 0 rgba(0, 100, 0, 0.5);
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1,startColorStr=#60000000,endColorStr=#60000000);
	overflow: hidden;
	width: 120px;
	color: #fff;
}

#fastPipe ul > li a:hover
{
	color: #ccc;
}

#video
{
	width: 380px;
	height: 260px;
	position: absolute;
	right: 0;
	top: 620px;
}

#position_1
{
	margin-left: 10px;
}

#position_2
{
	width: 60px;
	height: 10px;
	float: right;
	margin-top: 10px;
}

#position_2 a
{
	color: #bebebe;
	text-decoration: none;
}

#position_2 a:hover
{
	color: rgba(0, 0, 0, 0.5);
}

#medium {
	width: 370px;
	height: 240px;
	margin: 0 0 0 10px;
}

#medium img 
{
	width: 360px;
	height: 230px;
	border:4px solid #e8e8e8;	
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	float: right;
}

#lineheight
{
	line-height: 14px;
}
