@CHARSET "UTF-8";



h2
{
	color: #000000;
	font-family: 微软雅黑;
	text-align: left;
}



html, body
{
	padding: 0;
	margin: 0;
	overflow-x: hidden; 
	overflow-y: auto; 	
}

#headcontain
{
	padding: 0;
	margin: 0;
	padding-top:20px;
	margin-left: auto;
	margin-right: auto;
	height: 130px;
	width: 990px;
	background-color:#ee911a;
	
}
#headcontain > #mainpage
{
	height: 50px;
	width: 220px;
	float: right;
	margin-top:20px;
}
#headcontain > #mainpage a
{
	color:#ffffff;
	text-decoration: none;
	margin-left:9px;
	margin-right:9px;
}
#headcontain > #mainpage a:hover
{
	color:rgba(0,0,0,0.5);
	text-decoration: none;
}
#headcontain > #mainpage > #searchbar
{
	width: 220px;
	float: left;
	height: 22px;
	margin-top: 5px;
	background-image: url(/static/zhaosheng/image/searchbar.png);
	background-repeat: no-repeat;
}

.word {
	width:120px;
	height: 16px;
	line-height: 16px;
	padding: 0;
	margin: 0;
	float: left;
	border: 0;
	background-color: #FFFFFF;
	color: #888787;
	font-size: 10px;
}

.button {
	float: left;
	height: 22px;
	width: 26px;
	background: url(/static/zhaosheng/image/searchButton.png);
	background-repeat: no-repeat;
	border: 0;
	padding: 0;
	margin: 0;
	cursor: pointer;
}



/*整个菜单条属性*/
menu#mainmenu
{
	display: block;
	width: 970px;
	height: 32px;
	list-style: none;
	padding: 0;
	margin:  0;
	margin-top:35px;
	margin-left: 10px;
	margin-right: auto;
	border-top: 1px solid #fff;
}

menu#mainmenu li a
{
	display: block;
	height: 32px;
	line-height: 32px;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	list-style: none;
}

/*当鼠标划过时背景,字体颜色改变*/
menu#mainmenu li a:hover
{

	color: #fdbc30;
}
/*单个菜单条的属性*/
.singleMenu
{
	float: left;
	font-size: 10px;
	font-family: 黑体;
	display: inline-block;
	height: 32px;
	width: 161.6px;
	padding: 0;
	margin: 0;
}






#foot
{
}


#foot > #footer
{
	margin: 0px 0 0 0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	height: 163px;
	width: 990px;
	background-color:#ee911a;
	line-height: 23px;
	font-size: 12px;
	text-align:center;
	position:relative;
	text-decoration: none;

}

 #bottom{
	width: 990px;
	height: 132px;
	margin: 0 auto;
	
}
#fastlink1, #fastlink2
{
	display: inline-block;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}
#fastlink1
{
	margin:0px 0px 0px 70px;
	border-right: 1px solid #fff;
	width:450px;
}
#fastlink2
{
	margin:0px 0px 0px 20px;
}
	
.fastLink a
{
	font: 宋体;
	font-size:12px;
	font-weight: normal;
	color: #FFF;
}
.fastLink table td
{
	width:140px;
	height: 20px;
	text-decoration: none;
	}
.fastLink table td a
{text-decoration: none;}	
.fastLink table td a:hover
{
 color:#fdbc30;
}
#righttable
{
	margin: 22px 0 0 0;
	
}


#footButtom{
	width: 990px;
	height: 32px;
	margin: 0 auto;

	border-top: 1px #FFFFFF solid; 
	text-align:center;
}
#foot > #footer > #bottom1 
{
 
	margin-left: auto;
	margin-right: auto;
	width: 990px;
	height: 30px;
	border-top: 1px solid #fff;
	bottom: 0;
	position:absolute;
	line-height: 10px;
}

#foot > #footer > #bottom1 p
{
	font-size: 10px;
	font-weight: normal;
	color:#fff;
}


#categoryNavigationBar
{
	padding: 0;
    margin: 0;
    display: block;
    list-style: none;
    height: 30px;
    line-height: 30px;
	border-bottom: 1px #ddd solid;
	width: 990px;
	color: #000;
	font-weight: bold;
}

#categoryNavigationBar li
{
    padding: 0;
    margin: 0;
    display: block;
    float: left;
}

#categoryNavigationBar li:first-child
{
	margin-left: 10px;
	color: #000;
}

#categoryNavigationBar li a 
{
	color: #000;
	text-decoration: none;
}

#categoryNavigationBar li a:hover
{
	color: #fdbc30;
}
#more
{
	width:990px;
	margin-top:10px;
	border-left: 1px #ccc dashed;
	border-right: 1px #ccc dashed;
	
}
#postList
{

}
#postList li 
{
	width:980px;
}
#postList li a:hover
{
	color: #fdbc30;
}
#postDetail
{
	width:988px;
	border-left: 1px #ccc dashed;
	border-right: 1px #ccc dashed;
}
#summary 
{
	text-align: center;
}
#content
{
	line-height: 20px;
	width:990px;
}