#content
{
	margin:0;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 990px;
	min-height: 820px;	
	position: relative;	
}

img{border:0;}

#content > #browsable
{
	width: 602px;
	height: 302px;
	position: absolute;
	left: 5px;
	top: 10px;
	margin: 0;
	padding: 0;
}

#box
{
	position: relative;
	width: 600px;
	height: 300px;
	padding: 0;
	float: left;
	border: 1px solid #EE911A;
	-moz-box-shadow: #EE911A 0px 3px 10px;
	box-shadow: #EE911A 0px 3px 10px;
}

.block_home_slider {
	width:598px;
	height:298px;
	padding:1px;
	position:relative;	
	background-color:#ffffff;
	-webkit-border-radius:4px;
	border-radius:4px;	
	text-align:center;
	line-height:0px;
}

.block_home_slider .slide {position:relative; height: 300px; overflow: hidden;}
.block_home_slider .caption {padding:0px; position:absolute; left:0px; right:0px; bottom:0px; background:url(../../home/images/bg_caption.png); text-align:center; height: 30px;}
.block_home_slider .caption p {padding-bottom:0px; font-size:11px; color:#dedede; text-shadow:0px -1px #000000; line-height:11px;}
.block_home_slider .caption p.title {padding-bottom:6px; font-size:15px; color:#ffffff; font-weight:bold; line-height:5px;}
.block_home_slider .flex-direction-nav a {width:25px; height:25px; margin-top:-27px; display:block; position:absolute; top:50%; background-repeat:no-repeat; background-image:url(../../home/images/sprite_arrow_2.png); text-indent:-9000px;}
.block_home_slider .flex-direction-nav a.flex-prev {left:6px; background-position:left top;}
.block_home_slider .flex-direction-nav a.flex-prev:hover {background-position:left bottom;}
.block_home_slider .flex-direction-nav a.flex-next {right:6px; background-position:right top;}
.block_home_slider .flex-direction-nav a.flex-next:hover {background-position:right bottom;}
.block_home_slider .flex-control-paging {padding-top:12px; display:inline-block;}
.block_home_slider .flex-control-paging li {margin:0px; padding:0px; float:left; overflow:hidden;}
.block_home_slider .flex-control-paging li a {width:12px; height:12px; display:block; background-repeat:no-repeat; background-image:url(../../home/images/sprite_nav_3.png); text-indent:-9000px; cursor:pointer;}
.block_home_slider .flex-control-paging li a.flex-active {background-position:right top;}
.flexslider .slides img { width: 600px; height: 300px;}

#content > #textNews
{
	position: absolute;
	width: 330px;  	
	margin: 0;
	padding : 0;
	height: 300px;
	left: 660px;
	top: 10px;
}

#content > #informs
{
	width: 310px;  
	margin: 0;
	padding : 0;
	height: 250px;
	margin-top:15px;
	overflow: hidden;
	position: absolute;
	top: 320px;
	left: 0;
}

#content > #teaching
{
	position: absolute;
	width: 310px;
	margin: 0;
	padding : 0;
	height: 250px;
	top: 320px;
	left: 320px;
	margin-top:15px;
	margin-left:10px;
	margin-right:10px;
	overflow: hidden;
}

#content > #redian
{
	position: absolute;
	width: 330px;
	margin: 0;
	padding : 0;
	height: 250px;
	left: 660px;
	top: 320px;
	margin-top:15px;
	overflow: hidden;
}

#content > #zhuanye
{
	position: absolute;
	top: 560px;
	width: 310px;
	margin: 0;
	padding : 0;
	height: 250px;
	left: 0;
	margin-top:15px;
	overflow: hidden;
}

#content > #jiangzhu
{
	position: absolute;
	top: 560px;
	width: 310px;
	margin: 0;
	padding : 0;
	height: 250px;
	left: 320px;
	margin-top:15px;
	margin-left:10px;
	margin-right:10px;
	overflow: hidden;
}

#content > #zhuanti
{
	position: absolute;
	top: 560px;
	width: 330px;
	margin: 0;
	padding : 0;
	height: 250px;
	left: 660px;
	margin-top:15px;
	overflow: hidden;
}


#content a
{
	font-size: 13px;
	color:#000000;
	text-decoration: none;
}

#content a:hover
{
	color: #fdbc30;
	text-decoration: none;
}


ul > li a > div
{
	display: inline;
}

#content > #textNews ul
{	
	width: 100%;
	display: block;
	margin:10px 0 0 0;
	padding:0;
	list-style:url(/static/zhaosheng/image/list.png);
	list-style-position:inside;
}

#content > #textNews li
{
	padding: 0;
	margin: 5px 0 0 0;
	width: 300px;		
	color:#000000;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#content > #informs ul
{
	display: block;
	margin:10px 0 0 0;
	padding:0;
	list-style:url(/static/zhaosheng/image/list.png) inside ;
}

#content > #informs li
{
	padding: 0;
	margin: 6px 0 0 0;
	width: 300px;
	font-size: 13px;
	color:#000000;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#content > #teaching ul
{
	display: block;
	margin:10px 0 0 0;
	padding:0;
	list-style:url(/static/zhaosheng/image/list.png) inside ;
}

#content > #teaching li 
{
	padding: 0;
	margin: 6px 0 0 0;
	width: 300px;
	font-size: 13px;
	color:#000000;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#content > #zhengce ul
{
	display: block;
	margin:10px 0 0 0;
	padding:0;
	list-style:url(/static/zhaosheng/image/list.png) inside ;
}

#content > #zhengce li 
{
	padding: 0;
	margin: 6px 0 0 0;
	width: 300px;
	font-size: 13px;
	color:#000000;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#content > #redian ul
{
	display: block;
	margin:10px 0 0 0;
	padding:0;
	list-style:url(/static/zhaosheng/image/list.png) inside ;
}

#content > #redian li 
{
	padding: 0;
	margin: 6px 0 0 0;
	width: 300px;	
	font-size: 13px;
	color:#000000;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#content > #zhuanti ul
{
	display: block;
	margin:10px 0 0 0;
	padding:0;
	list-style:url(/static/zhaosheng/image/list.png) inside ;
}

#content > #zhuanti li 
{
	padding: 0;
	margin: 6px 0 0 0;
	width: 300px;	
	font-size: 13px;
	color:#000000;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#content > #jiangzhu ul
{
	display: block;
	margin:10px 0 0 0;
	padding:0;
	list-style:url(/static/zhaosheng/image/list.png) inside ;
}

#content > #jiangzhu li 
{
	padding: 0;
	margin: 6px 0 0 0;
	width: 300px;	
	font-size: 13px;
	color:#000000;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#content > #zhuanye ul
{
	margin:10px 0 0 0;
	padding:0;
	list-style:url(/static/zhaosheng/image/list.png) inside ;
}

#content > #zhuanye li 
{
	padding: 0;
	margin: 6px 0 0 0;
	width: 300px;	
	font-size: 13px;
	color:#000000;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#more1
{
	padding: 0;
	margin: 10px 0 0 0;
	width: 80px;
	height: 20px;
	float: right;
}


#box .list li img
{
	width: 610px;
	height: 230px;
}

.flexslider
{
	width:100%;
	height:100%;
	position: relative;
	zoom: 1;
	margin: 0;
	padding: 0;
}

.bx-pager-item
{
	display:none;
}

#tsztList
{
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
}
#tsztList li
{
	margin: 0;
	padding: 0;
	width: 594px;
	height: 298px;
}
#post1{display:block;position:absolute;top:0;left:0;}
.flexslider .slides > li{display: none;height: 290px;-webkit-backface-visibility: hidden;}
.bx-caption
{
	position: absolute;
	border-top: 2px solid #fff;
	top: -3px;
	left: 0;
	background-color: rgb(238, 145, 26);
	background: rgba(238, 145, 26, 0.55);
	width: 100%;
	height: 30px;
	z-index: 100;
}
.bx-caption span
{
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .90em;
	padding: 8px;
	font-size: 14px;
	line-height: 15px;
	text-align: center;
}
#content > #mainContent a
{
	font-family: 微软雅黑;
	font-size: 13px;
	color: #000000;
	text-decoration: none;
}
#tsztList a
{
	display: block;
	width: 100%;
	height: 100%;
}
.bx-wrapper{width:100%;height:100%;}