.PostEditView
{
    background: white;
}

.PostEditView > #main
{
    position: absolute;
    left: 0;
    right: 250px;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
}

.PostEditView > #sideBar
{
    position: absolute;
    right: 0;
    width: 250px;
    top: 0;
    bottom: 0;
    padding-top: 10px;
    background: #f1f1f1 url(images/post_edit_view_side_bar_bg.png) repeat-y;
    border-left: 1px solid #e6e6e6;
}

.PostEditView > #main > .section
{
    height: 38px;
    line-height: 40px;
    border-bottom: 1px solid #ededed;
}

.PostEditView > #main > .section > input, .PostEditView > #main > .section > textarea
{
    width: 100%;
    padding-left: 20px;
    border: none;
    color: black;
}

.PostEditView > #main > .section > input.empty, .PostEditView > #main > .section > textarea.empty
{
    color: gray;
}

.PostEditView > #main > .section > input
{
    height: 24px;
    line-height: 22px;
    font-size: 16px;
}

.PostEditView > #main > .section > textarea
{
    height: 100%;
}



.PostEditView > #main > .section > label#id
{
    color: gray;
    padding-left: 20px;
}

.PostEditView > #main > .section > input#title
{
    font-weight: bold;
}


.PostEditView > #main > #contentFrame
{
    position: absolute;
    left: 0;
    right: 0;
    top: 76px;
    bottom: 0;
}




.PostEditView > #sideBar > dl
{
    position: relative;
    display: block;
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;
}

.PostEditView > #sideBar > dl > dt
{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 70px;
    height: 32px;
    text-align: right;
    line-height: 32px;
    color: #888;
    text-shadow: 0 1px #efefef;
}

.PostEditView > #sideBar > dl > dd
{
    position: relative;
    display: block;
    top: 0;
    left: 90px;
    width: 200px;
    height: 32px;
    line-height: 32px;
    margin: 0;
}

.PostEditView > #sideBar > dl > dd > input, .PostEditView > #sideBar > dl > dd > select
{
    margin: 0;
    width: 150px;
}

.PostEditView > #sideBar > dl > dd > input
{
    padding-left: 4px;
}