.PostDetailView
{
	
    background: white;
    overflow-y: auto;
    padding: 15px;
     display: block;
     height:2000px;
     
}

.PostDetailView > h1
{
    clear: both;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.PostDetailView > ul
{
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    background: #f6f6f6;
    height: 25px;
    line-height: 25px;
}

.PostDetailView > ul > li
{
    float: left;
    margin-left: 5px;
    color: #888;
    font-weight: bold;
}



.PostDetailView > #info
{
    text-align: center;
    color: #999;
}



.PostDetailView > #content
{
    clear: both;
    line-height: 20px;
}

.PostDetailView > #content *
{
    font-family: 宋体;
    font-size: larger;
}

.PostDetailView > #content img
{
    max-width: 80%;
}