#postDetail
{
    width: 100%;    
}

#postDetail #navigationBar
{
    display: block;
    height: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

#postDetail #navigationBar li
{
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
}

#postDetail h1#title
{
    clear: both;
    width: 100%;
    margin-top: 10px;
    font-family: 黑体;
    font-size: 18px;
    text-align: center;
}


#postDetail #info
{
    display: block;
    height: 22px;
    white-space: nowrap;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

#postDetail #info div
{
    display: inline;
}

#postDetail #info #source
{
    margin-right: 10px;
}

#postDetail #social
{
    display: block;
    width: 32px;
    margin: auto;
}

#postDetail #summary
{
    width: 100%;
    margin: auto;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px dotted gray;
}

#postDetail #summary, #postDetail #content
{
    clear: both;
    line-height: 22px;
}