@charset "utf-8";

/* CSS Document */
html
{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

*
{
	font-family: 宋体;
	font-size: 13px;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td
{
	margin: 0;
	padding: 0;
	
}

a
{
	font-family: 宋体;
	text-decoration: none;
}
a img{ border:none	}


body 
{
	padding: 0;
	margin: 0;
	background:url(/static/faculty/common/images/3.jpg);
}

/*网页主体*/
#main
{ 

	margin: 0 auto;
	width: 990px;
	background-color: #FFF;
}

#main:after{
    content:"";
    display:block;
    height:0;
    clear:both;
}
/*网页头部*/
#header
{
	/*width: 960px;*/width:990px;
	height: 124px;
	margin-left: auto;
	margin-right: auto;
	padding:0;/*padding:8px 10px 0 10px;*/
}

#header > #logo_pic
{
	/*width:700px;*/width:730px;
	height:116px;
	margin:0;
	padding:0;
	float:left;
	background-image:url(/static/faculty/common/images/logo.png);
	background-repeat:no-repeat;
	background-position:left center;
}

#header > #link_search
{
	margin:0;
	padding:0;
	height: 116px;
	width: 260px;
	float: right;
}

#link_search > #search
{
	padding: 0;
	margin:  0;
	margin-left:30px;
	margin-top:10px;
	width: 160px;
	height: 22px;
	background:url(/static/faculty/common/images/textField.png) no-repeat;
}

#description
{
	width:118px;
	height: 22px;
	line-height: 22px;
	padding: 0;
	margin: 0;
	float: left;
	border: 0;
	background-color: #FFFFFF;
	color: #888787;
	font-size: 12px;
}

#button
{
	float: left;
	height: 22px;
	width: 23px;
	background: url(/static/faculty/common/images/SearchButton.png) no-repeat;
	background-repeat: no-repeat;
	border: 0;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

#link_search #text
{
	width: 145px;
	height: 20px;
	margin:40px 0 0 0;
	padding:0 0 0 40px; 
}

#link_search #text a
{
	color: #fff;
	font-size: 14px;
	font-family: 微软雅黑;
	text-decoration: none;
}

#link_search #text a:hover
{	color: rgba(0, 0, 0, 0.4);	}


/*网页侧边栏*/
#sidebar {
	position: absolute;
	top: 0;
	margin-top: 5px;
	padding-top: 0px;
	background-color: white;
}

#sidebar.fixed {
	position: fixed;
	top: 0;
}
#side
{
	width: 212px;
	float: left;
	margin:0 0 0 0px;/*margin:0 0 0 14px;*/
}

#side #xibu_link { padding-top: 8px; }

#side #xibu_link .xibu
{
	width: 180px;
	margin-left: 32px;
  	font-family: 黑体;
	list-style: none;
	text-decoration: none;
	color: #FFF;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #fff;
	list-style:none;
}

#xibuFirst
{
	width: 100%;
	height:38px;
}

#side #xibu_link #xibuFirst .xibu
{
	float:right;
}

#side #xibu_link .xibu a
{
	font-size: 14px;
	font-family: 黑体;
	line-height: 35px;
	color: #FFF;
}

#side #xibu_link .xibu a:hover { color: #CFCFCF; }

#side #school_link { padding-top: 15px; }

#side #school_link li
{
	margin: 0 auto;
	margin-top: 10px;
	width: 170px;
	height: 40px;
	font-family: 黑体;
	list-style: none;
	text-decoration: none;
	color: #FFF;
	background-color: #FFF;
}

#side #school_link li .link_img { border: 3px solid #FFF; margin:0 auto; }

#side #school_link #first
{
	font-size: 14px;
/*	margin-left:30px;*/
	margin: 0 auto;
	line-height: 30px;
	width: 200px;
	height: 30px;
	color: #FFF;

}

#side #school_link #first .firstimg { padding-top: 4px; }
#link_list{/*	margin-left:20px; margin-top:5px; margin-bottom:8px;*/margin:5px 0 8px 20px;}

/*网页右侧内容*/

#r_content
{
	width:759px;/*width: 728px;*/
	height:auto;
	float: left;
	margin-left: 19px;
}

#r_content #menu
{
	width:760px;/*width: 728px;*/
	height: 56px;
	margin: 0 auto;
	background-image: url(/static/faculty/common/images/bg_context.png);
	background-repeat:repeat;
}

#r_content #menu #menu_ul
{
	float: left;
	margin:6px 0 0 15px;
	width:730px;/*width: 708px;*/
	height: 40px;
}

#r_content #menu #menu_ul #nav
{
	display: block;
	line-height: 40px;
	height: 40px;
	width: 708px;
	display: block;
	padding-left: 5px;
	margin-top: 0;
	margin-right: 0px auto;
	margin-left: 0px auto;
}

#r_content #menu #menu_ul #nav li
{
	text-align:center;
	line-height: 30px;
	height: 40px;
	width:80px;
	list-style: none;
	display: inline;
	float: left;
	padding: 0 10px 0 10px;
	z-index: 100;
}


/*单个下拉子菜单条属性*/
li .sub
{
	display: none;
	position: absolute;
	width:80px;
	top: 0;
	left: 0;
	font-weight: normal;
	padding: 5px 0 10px 0px;
	margin-left:0px;
	z-index:1;
}

li>ul {
	top: auto;
	left: auto;
}

li:hover ul, li.over ul {
	display: block;
	position:relative;
}

#r_content #menu #menu_ul #nav .sub li
{
	width:60px;
	height:20px;
	line-height:20px;
	padding-top:0px;
	padding-bottom:5px;
}
#r_content #menu #menu_ul #nav .sub li a{ line-height:20px; height:20px;font-size:13px;}
/**/

#r_content #menu #menu_ul #nav li a
{
	margin:5px 0 5px 0;
	display: block;
	font-size: 14px;
	width: auto;
	height: 30px;
	color: #FFF;
	font-family: 黑体;
}

#r_content #menu #menu_ul #nav li a:hover
{

	color:#CFCFCF;
}
/*滚动图片*/
 #browsable
{
	width: 350px;
	height: 225px;
	float: left;
	margin: 0 0 0 18px;/*margin: 0 0 0 8px;*/
	padding: 0;
	z-index:0;
}

#box img{/*padding-left:5px;padding-bottom:5px;*/width:330px; height:210px;display:block;}

#box
{
	position: relative;
	width: 340px;
	height: 220px;
	margin: 0 0 0 5px;
	padding: 0;
	float: left;
	border: 1px solid #ddd;
	-moz-box-shadow: #808080 0px 3px 10px;
	box-shadow: #808080 0px 3px 10px;	
}

#box .slider #title
{
	margin:5px 5px 0 5px;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 1);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#A0000000', EndColorStr='#A0000000');
	width: 330px;
	height: 20px;
	color: white;
	text-align: center;
	line-height: 25px;
	text-decoration: none;
	font: 12px Microsoft YaHei, Verdana;
}

/*新闻和公共*/

#r_content #am
{
	float: left;
	width:350px;/*width: 340px;*/
	height:230px;/*height: 220px;*/
	margin-left: 28px;
}

#r_content #new
{
	float: left;
	width:360px;/*width: 340px;*/
	height: 220px;
	margin-left: 12px;
	margin-top: 15px;
}

#r_content #job
{
	float: left;
	width:360px;/*width: 340px;*/
	height: 220px;
	margin-left: 22px;
	margin-top: 15px;
}

#r_content #am .title, #r_content #new .title, #r_content #job .title
{
	font-family: 黑体;
	line-height: 30px;
	height: 30px;
	font-size: 15px;
	font-weight: bold;
	background-image: url(/static/faculty/common/images/bg_new_title.png);
}

#r_content .detail
{
	padding-top: 10px;
	padding-left: 10px;
	width:350px;/*width: 270px;*/
	list-style: none;
	display: list-item;
}

#r_content .detail li
{
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	padding-left: 15px;
	width:335px;/*width: 300px;*/
	line-height: 30px;
	background-position: 0px center;
	background-repeat: no-repeat;
}
#r_content .detail li #title{	overflow: hidden;/*表示溢出的内容会被隐藏*/
	-o-text-overflow: ellipsis;    /* for Opera */
	text-overflow: ellipsis;        /* for IE *//*当文本溢出时显示…此时还必须定义：强制文本在一行内显示（white-space:nowrap）及溢出内容为隐藏（overflow:hidden）*/
	white-space: nowrap;/*表示文本不会换行*/}
#r_content #am .detail{width:340px;padding-top: 5px;}
#r_content #am .detail li{width:330px;}
#r_content #am .detail li #title{width:320px;}
#r_content .list_more
{
	width: 300px;
	padding-left: 280px;
	padding-top:5px;
}

#r_content .detail .more a { color: #808080; }

#r_content .detail li a
{
	font-size: 13px;
	color: #000;
}

#r_content .detail li a:hover
{
	font-size: 13px;
}

/*页脚部分*/

#main1
{ 

	margin: 0 auto;
	width: 990px;
	background-color: #FFF;
	position: relative;
	height:61px;
}
#bottom2
{
	position: absolute;
	bottom:0;
	margin-left: auto;
	margin-right: auto;
	width: 990px;
	height: 50px;
	border-top: 1px #fff solid;
	color: #fff;
}


#bottom2 p
{
	padding: 0;
	margin: 0;
	line-height: 15px;
	float: left;
	clear: both;
}

#bottom2 span > a
{
	color: #fff;
	text-decoration: none;
}
#bottom2 #copyright
{
	display: block;
	position: absolute;
	top: 12px;
	left: 10px;
	padding: 0;
	height: 50px;
}
#copyright p
{
	margin-top:5px;
}

#copyright span
{
	float: left;
}

#bottom2 span > a:hover
{
	color: #ccc;
}

#bottom2 > #website
{
	position: absolute;
	left: 385px;
	top: 9px;
	text-align: center;
}

#website a
{
	display: block;
	text-decoration: none;
	padding: 5px 0 4px 110px; 
	color: #fff;
}

#website a:hover
{
	color: #ccc;
}


#bottom2 > #developer
{
	position: absolute;
	right: 0;
	width: 200px; 
	margin: 0; 
	padding: 0; 
	display: bolck;
	text-align: left;
	color: #fff;
}

#developer ul
{
	margin: 10px 0 0 0;
	padding: 0;	
	float: left;
}

#developer li
{
	display: block;
	height: 20px;
	line-height: 12px;
}

#developer a
{
	color: #fff;
	text-decoration: none;
}

#developer a:hover
{
	color: #ccc;
}

#developer span
{
	right:5px;
	top:20px;
	position: absolute;
	margin-right: 10px;
}


/*postDetial*/
#postDetail {
	float:left;
	width:760px;
	min-height:545px;
	border: #CCF solid 1px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding-bottom: 10px;
	background-image: url(/static/faculty/common/images/News_text_content_location.png)  top;
	background-repeat: repeat-x;
}

/*当前位置*/
.CategoryNavigationBar
{
	height:19px;
margin-top: 20px;
margin-left: 10px;
margin-bottom: 5px;
border-bottom:#CCF solid 1px;
list-style:none;
}
.CategoryNavigationBar li
{float:left;}
.CategoryNavigationBar a{color:#000;}


/*more*/
#more
{
	float: left;
	width: 755px;
	min-height:545px;
	border: #CCF solid 1px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding-bottom: 10px;
	background-image: url(/static/faculty/common/images/News_text_content_location.png) top;
	background-repeat: repeat-x;
}

/*简介*/
#imageContent
{
	float:left;
}
#imageContent img
{
	margin: 5px 0 0 10px;
	border: 1px solid #DDD;
	box-shadow: gray 0px 3px 10px;
	padding: 5px;
	height: 200px;
	width: 250px;
}
#textContent{	float:right;width:410px;padding:10px 0 0 0;}
#textContent > #content{width:385px;}
#textContent, #content
{
	margin:0px auto;
}
#textContent #title,#postDetail #title
{
	text-align: center;
	font-size:19px;
}
#postDetail > #title{margin-top:20px;}
#textContent #info, #info
{
	text-align: center;
	margin: 10px 0 10px 0;
}
#content img
{
	clear:both;
	max-width:700px;
	margin:5px 5px 5px 5px;
}
/*摘要*/
#summary{margin:10px;padding:10px;width:700px;}

/*滚动新闻图片*/
.block_home_slider {
width: 330px;
height: 210px;
position: relative;
background-color: white;
text-align: center;
line-height: 0px;
}
.block_home_slider .slide {
position: relative;
height: 210px;
over-flow: hidden;
}
.block_home_slider .caption p.title {
clear:both;
padding-bottom: 0px;
font-size: 11px;
color: #DEDEDE;
text-shadow: 0px -1px black;
line-height: 11px;
width:330px;overflow:hidden;
height:20px;
line-height:20px;
}
.block_home_slider .caption {height:20px;}
.block_home_slider .flex-control-paging {padding-top:8px;}

/*more*/
#postList li {max-width: 780px;}
#more .PostList{padding-left:10px;border:none;}
/**/

/*图片新闻改*/
#home_slider>#tsztList> li{width:100%;height:100%;display:none;position:relative;}
.block_home_slider,#home_slider,#gallery,#gallery img{width:100%;height:100%;}
.caption{width:100%;height:25px;line-height:25px;position:absolute;bottom:0;left:0;z-index:1000;text-align:center;}
#gallery img{display:block;position:absolute;top:0;left:0;}
.caption>.content{font-size:14px;font-weight:bold;color:#fff;height:25px;}

#content>.MsoNormal{
	margin-top:5px;
	margin-bottom:5px;
	line-height: 150%; 
	font-family: 宋体;
	font-size: 12pt; 
}

#content>div{
	margin-top:5px;
	margin-bottom:5px;
	line-height: 150%; 
	font-family: 宋体;
	font-size: 12pt; 
}

#content{
	width:685px;
	margin-top:5px;
	margin-bottom:5px;
	line-height: 150%; 
	font-family: 宋体;
	font-size: 12pt; 
}
#content table{text-indent: 0;}
#content table div{text-indent: 0;}
#postDetail h1{text-align:left;}
