@CHARSET "UTF-8";

html
{
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	overflow-y:auto; 	
}

body
{
	padding: 0;
	margin: 0;
	overflow-y:hidden;
}
#headcontainer
{
	padding: 0;
	margin: 0;
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
	height: 120px;
	width: 990px;
	background: url(/static/caiwu/image/head.png);
}

#headcontainer > #header1
{
	margin-left: auto;
	margin-right: auto;
	height: 80px;
	width: 990px;
	left: 0;
	position: relative;
}

#header1 > #indexAndsearch
{
	position: absolute;
	margin-top: 15px;
	height: 60px;
	width: 200px;
	right: 0;
}


#header1 > #indexAndsearch a
{
	color:#ffffff;
	text-decoration: none;
	margin-left:9px;
	margin-right:9px;
}

#header1 > #indexAndsearch a:hover
{
	color: #ccc;
}

#header1 > #indexAndsearch > #searchbar
{
	width: 220px;
	height: 22px;
	margin-top: 5px;
	background: url(/static/caiwu/image/searchbar.png);
	background-repeat: no-repeat;
}

#header1 > #collegelogo
{
	position: absolute;
	left: 0;
	top: 10px;
}

#header1 > #secondlogo
{
	position: absolute;
	left: 450px;
	top: 10px;
}

.word {
	width:120px;
	height: 16px;
	line-height: 16px;
	padding: 0;
	margin: 0;
	float: left;
	border: 0;
	background-color: #FFFFFF;
	color: #888787;
	font-size: 10px;
}

.button {
	float: left;
	height: 22px;
	width: 26px;
    background: url(/static/caiwu/image/searchButton.png);
	background-repeat: no-repeat;
	border: 0;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

menu#mainmenu
{ 
	display: block;
	width: 500px;
	height: 32px;
	list-style: none;
	padding: 0;
	margin: 5px 0 0 0;
	margin-left: auto;
	margin-right: auto;   
	font-size: 12px;
	border-bottom:1px solid #fff;   
}


/*单个菜单条的属性*/
.singleMenu
{
	float: left;
	font-size: 12px;
	font-family: 微软雅黑;
	display: inline-block;
	height: 32px;
	width: 83.33px;
	padding: 0;
	margin: 0;

}


menu#mainmenu li a
{
	display: block;
	height: 32px;
	line-height: 32px;
	color: white;
	text-decoration: none;
	text-align: center;
	list-style: none;


}


menu#mainmenu li > a:hover
{
	color: #cadae9;
}

#footer
{
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	height: 51px;
	width: 990px;
	background: url(/static/caiwu/image/foot.png);
	line-height: 23px;
	font-size: 12px;
	text-align:center;
	position:relative;
	text-decoration: none;

}

 #bottom1{
	width: 990px;
	height: 120px;
	position: absolute;
	left:0;
	
}

#fastlink1, #fastlink2
{
	display: inline-block;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	margin: 10px 0 0 50px;
	text-decoration: none;
}

#fastlink1
{
	border-right: 1px solid #fff;
	width:450px;
	position: absolute;
	left:0;
}

#fastlink2
{
	width:450px;
	position: absolute;
	right:0;
}
	
.fastLink a
{
	font: 宋体;
	font-size:12px;
	font-weight: normal;
	color: #FFF;
}

table td
{
	width:140px;
	height: 20px;
	text-decoration: none;
	padding: 0;
}

.fastLink table td a
{text-decoration: none;}

.fastLink table td a:hover
{
	color: #cadae9;
}

#bottom2
{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	width: 990px;
	height: 50px;
	bottom: 0;
	border-top: 1px #fff solid;
	color: #fff;
	left: 0;
}


#bottom2 p
{
	padding: 0;
	margin: 0;
	line-height: 15px;
	float: left;
	clear: both;
}

#bottom2 span > a
{
	color: #fff;
	text-decoration: none;
}
#bottom2 #copyright
{
	display: block;
	position: absolute;
	top: 5px;
	left: 10px;
	padding: 0;
	height: 50px;
}

#copyright span
{
	float: left;
}

#bottom2 span > a:hover
{
	color: #cadae9;
}

#bottom2 > #website
{
	position: absolute;
	left: 385px;
	top: 8px;
	text-align: center;
}

#bottom2 p {
	padding: 0;
	margin: 0;
	line-height: 15px;
	float: left;
	clear: both;
}

#website a
{
	display: block;
	text-decoration: none;
	padding: 5px 0 4px 75px; 
	color: #fff;
}

#website a:hover
{
	color: #cadae9;
}


#bottom2 > #developer
{
	position: absolute;
	right: 0;
	width: 190px; 
	margin: 0; 
	padding: 0; 
	display: bolck;
	text-align: left;
	color: #fff;
}

#developer ul
{
	margin: 10px 0 0 0;
	padding: 0;	
	float: left;
}

#developer li
{
	display: block;
	height: 20px;
	line-height: 12px;
}

#developer a
{
	color: #fff;
	text-decoration: none;
}

#developer a:hover
{
	color: #cadae9;
}

#developer span
{
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}

#categoryNavigationBar
{
	padding: 0;
    margin: 0;
    display: block;
    list-style: none;
    height: 30px;
    line-height: 30px;
	border-bottom: 1px #ddd solid;
	width: 843px;
	color: #ccc;
	font-weight: bold;
}

.CategoryNavigationBar li
{
    padding: 0;
    margin: 0;
    display: block;
    float: left;
}

#categoryNavigationBar li:first-child
{
	margin-left: 10px;
	color: #ccc;
}

#categoryNavigationBar li a 
{
	color: #ccc;
	text-decoration: none;
}

#categoryNavigationBar li a:hover
{
	color: #888;
}
#more
{
	width: 988px;
	border-left:1px solid #b0c2d3;
	border-right:1px solid #b0c2d3;
	margin-left: auto;
	margin-right: auto;
	 
}
#postDetail
{
	margin:0 auto;
	padding:0 10px;
	width: 968px;
}
#summary 
{
	text-align: center;
}
#postDetail #content
{
	width:880px;
	border:1px dashed #ccc;
	margin:5px auto;
}
#postList
{
	margin:0 auto;
}

li a #title
{
	color:#000;
}

li a #title:hover
{
	color:#999;
}

.block_home_slider>span,.block_home_slider>span>img{display:block;width:100%;height:100%;}

#content>.MsoNormal{
	margin-top:5px;
	margin-bottom:5px;
	line-height: 150%; 
	font-family: 宋体;
	font-size: 12pt; 
	/*text-indent: 2em;*/
}

#content>div{
	margin-top:5px;
	margin-bottom:5px;
	line-height: 150%; 
	font-family: 宋体;
	font-size: 12pt; 
	/*text-indent: 2em;*/
}

#content{
	margin-top:5px;
	margin-bottom:5px;
	line-height: 150%; 
	font-family: 宋体;
	font-size: 12pt; 
	/*text-indent: 2em;*/
}
#content table{text-indent: 0;}
#content table div{text-indent: 0;}