#more
{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background: #FFFFFF;
    font:14px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
}


#postList
{
	display: block;
	list-style: none;
	margin: 0;
    padding: 0;
}

#postList li
{
    
    
    background:url(../images/pic_dot_zio.gif) 3px 12px no-repeat;
    line-height: 27px;
    margin: 0;
    padding:　0;
    text-align:left;
        
}

#postList li a >span/*li     >表示直接子节点*/
{
	display: inline;	
	padding-left:10px;
}

#postList #title{
	color:#433f43;
}

#postList .current{
	
	white-space:nowrap;/* 不换行 */
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
	
}


#postList #pageNavigationBar
{
    margin-top: 20px;
}

#categoryNavigationBar
{
	
	list-style: none;

}
#categoryNavigationBar tr a
{
    color:#239b8b;
    list-style: none;
    text-align:left;
}


