@charset "utf-8";

/* CSS Document */
#header > #link_search{}
/*网页侧边栏*/

#side
{
	background-color: #008bcb;
}

#side #school_link #first
{
	background-color: #056e9e;
}

/*网页右侧内容*/

#content #menu #menu_ul
{
	background-color: #008bcb;
}

#content #menu #menu_ul #nav li a:hover
{
	color: #008bcb;
}
.previous b:hover, .next b:hover{color: #008bcb;}
/*映像部分*/

#gallery a:hover { color: #008bcb; }

#gallery #fullsize #mirror .mirror_title
{
	color: #008bcb;
}

/*新闻和公共*/

#content .title
{
	color: #008bcb;
}

#content .detail .content_li
{
	background-image:url(../common/images/list.gif);
}

#content .detail li a:hover
{
	color: #F93;
}

/*页脚部分*/

#footer
{
	border-top:2px dotted #A0A0A4;
}

/*三级*/

 #content #location
{
	margin-top: 20px;
	margin-left: 10px;
	margin-bottom: 5px;
}
 #content #post_list
{
	margin: 0 auto;
	margin-top: 20px;
	width: 600px;
}

 #content #post_list .post_list_item
{
	width: 550px;
	height: 30px;
	line-height: 30px;
	overflow: hidden;/*表示溢出的内容会被隐藏*/
	-o-text-overflow: ellipsis;    /* for Opera */
	text-overflow: ellipsis;        /* for IE *//*当文本溢出时显示…此时还必须定义：强制文本在一行内显示（white-space:nowrap）及溢出内容为隐藏（overflow:hidden）*/
	white-space: nowrap;/*表示文本不会换行*/
}
 #content a{color:#000000;}
 #content a:hover{color:#008bcb;}
#post_list .date
{
	list-style: none;
	width: 40px;
	float: right;
	height: 30px;
	line-height: 30px;
}

#page_num
{
	margin: 0px auto;
	margin-top: 20px;
	width: 300px;
}

#page_num .num
{
	float: left;
	text-align: center;
	margin-left: 5px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	border: 1px solid #FFFFFF;
	list-style: none;
}

#page_num .page_next
{
	float: left;
	text-align: center;
	margin-left: 5px;
	width: 50px;
	height: 20px;
	line-height: 20px;
	border: 1px solid #FFFFFF;
	list-style: none;
}
#content .text{ text-indent:2em;}
 #content #post
{
	margin:0 auto;
	margin-top:20px;
	width:600px;
}
 #content #post #post_title
{
	font-size:16px;
	line-height:25px;
	padding-bottom:5px;
	text-align:center;
	width:500px;
	margin:0 auto;
	border-bottom:1px solid #A0A0A4;
}
 #content #post #post_info
{
	width:500px;
	margin:0 auto;
	text-align:center;
	margin-top:5px;
	margin-bottom:15px;
}
 #browsable
{
	/*position: relative;*/
	width: 550px;
	height: 330px;
	float: left;
	margin: 10px 0 0 8px;
	padding: 0;
}

#box
{
	position: relative;
	width: 540px;
	height: 320px;
	margin: 0 0 0 5px;
	padding: 0;
	float: left;
	border: 1px solid #ddd;
	-moz-box-shadow: #808080 0px 3px 10px;
	box-shadow: #808080 0px 3px 10px;	
}

#box .list
{
	padding: 0;
	margin: 0;
	width: 540px;
	height: 310px;
	list-style-type: none;
	background: #fff; 
}

#box .list li
{
	position: absolute;
	top: 5px;
	left: 5px;
	width: 540px;
	height: 310px;
	opacity: 0;
	filter: alpha(opacity=0);
}

#box .list li.current
{
	opacity: 1;
	filter: alpha(opacity=100);
}
#box .list li img
{
	width: 530px;
	height: 300px;
}

#box .list li span#title

{
	background-color: rgba(0,0,0,0.6);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#A0000000', EndColorStr='#A0000000');
	position: absolute;
	top: 0;
	left: 0;
	width: 530px;
	height: 24px;
	color: #fff;
	text-align: center;
	line-height: 20px;
	text-decoration: none;
	font: 12px Microsoft YaHei, Verdana;
}

#box .count
{
	position: absolute;
	bottom: 7px;
	left: 30px;
	list-style-type: none;
}

#box .count li
{
	font-size: 11px;
	font-family: Microsoft YaHei;
	color: #000000;
	float: left;
	width: 15px;
	height: 15px;
	cursor: pointer;
	text-align: center;
	margin-right: 9px;
	background: #FFFFFF;
	opacity: 0.7;
	filter: alpha(opacity=70);
	border-radius: 0px;
}

#box .count li.current
{
	color: #fff;
	opacity: 1;
	filter: alpha(opacity=100);
	font-weight: 250;
	background: #f60;
}

/*新闻和公共*/

#content #am
{
	float: left;
	width: 400px;
	height: 320px;
	margin-left: 18px;
	margin-top: 15px;
}
#content #am #headline
{
width:100%;
height:100px;
margin:0 auto;
padding-top:5px;
padding-bottom:5px;
border-bottom:1px  dotted #A0A0A4;
}
#content #am #headline ul 
{
	width:400px;	padding-top: 10px;
	
	padding-right:0px;
	list-style: none;
	display: list-item;
}
#content #am #headline ul li
{
   
	width: 360px;
	line-height: 30px;

}
#content #am #headline li span#title
{
font-size:20px;
text-align:center;
margin-left:20px;
width:330px;

padding-bottom:10px;
	overflow: hidden;/*表示溢出的内容会被隐藏*/
	-o-text-overflow: ellipsis;    /* for Opera */
	text-overflow: ellipsis;        /* for IE *//*当文本溢出时显示…此时还必须定义：强制文本在一行内显示（white-space:nowrap）及溢出内容为隐藏（overflow:hidden）*/
	white-space: nowrap;/*表示文本不会换行*/

}
#content #am #headline li span#summary
{
text-indent:2em;
width:90%;
margin-left:20px;

}
#content #am #headline li a:hover
{
	color:#F93;
	font-size: 13px;
}
#content #am #headline1 ul
{
	width:400px;	padding-top: 10px;
	padding-left: 10px;
	padding-right:0px;
	list-style: none;
	display: list-item;
}

#content #am #headline1 ul li
{
	padding-left: 15px;
	width: 300px;
	line-height: 30px;
	background-image:url(../images/list.gif);
	background-position: 0px center;
	background-repeat: no-repeat;
	overflow: hidden;/*表示溢出的内容会被隐藏*/
	-o-text-overflow: ellipsis;    /* for Opera */
	text-overflow: ellipsis;        /* for IE *//*当文本溢出时显示…此时还必须定义：强制文本在一行内显示（white-space:nowrap）及溢出内容为隐藏（overflow:hidden）*/
	white-space: nowrap;/*表示文本不会换行*/

}
#content #am #headline1 li a
{
	font-size: 13px;
	color: #000;
}

#content #am #headline1 li a:hover
{
	color:#F93;
	font-size: 13px;
}


#content #am .detail
{width:400px;	padding-top: 10px;
	padding-left: 10px;
	padding-right:0px;
	list-style: none;
	display: list-item;
}
#content #am .detail .content_li
{width:300px;}
#content #am .date
{list-style: none;width: 40px;float: right;height: 20px;margin-right: 20px;line-height: 30px;}
#content #new
{
	float: left;
	width: 500px;
	border:3px solid #D41F00; 
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	background-color:#fff;
		padding-top:10px;
	padding-bottom:10px;
}
#content #new ul
{
	width:480px;	
	padding-top: 10px;
	padding-left: 10px;
	padding-right:0px;
	list-style: none;
	display: list-item;
}

#content #new ul li
{
	padding-left: 15px;
	width: 450px;
	line-height: 30px;
	background-image:url(../images/list.gif);
	background-position: 0px center;
	background-repeat: no-repeat;
	overflow: hidden;/*表示溢出的内容会被隐藏*/
	-o-text-overflow: ellipsis;    /* for Opera */
	text-overflow: ellipsis;        /* for IE *//*当文本溢出时显示…此时还必须定义：强制文本在一行内显示（white-space:nowrap）及溢出内容为隐藏（overflow:hidden）*/
	white-space: nowrap;/*表示文本不会换行*/

}
#content #new li a
{
	font-size: 13px;
	color: #000;
}

#content #new li a:hover
{
	color:#F93;
	font-size: 13px;
}

#content #activities
{
	float: left;
	width: 220px;
	height: 362px;
	margin-left:9px;
		border:3px solid #D41F00; 
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
		background-color:#fff;
			padding-top:10px;
	padding-bottom:10px;
}

#content #paper
{
	float: left;
	width: 220px;
	height: 362px;
	margin-left:10px;
		border:3px solid #D41F00; 
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
		background-color:#fff;
			padding-top:10px;
	padding-bottom:10px;
}
#content #paper #paper_list
{
	float:right;
	width:80px;
	list-style:none;
}

#content .title
{
	font-family: 黑体;
	line-height: 30px;
	height: 37px;
	font-size: 15px;
	font-weight: bold;
/*	background-image: url(../images/bg_new_title.png);*/
}

#content .detail
{
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 10px;
	width: 480px;
	list-style: none;
	display: list-item;
}

#content .detail .first
{
	line-height:50px;
	height:50px;
}
#content .detail .date
{list-style: none;width: 40px;float: right;height: 20px;margin-right: 20px;line-height: 30px;}
#content .detail .content_li
{
	/*border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;*/
	padding-left: 15px;
	width: 350px;
	line-height: 30px;
	background-image:url(../images/list.gif);
	background-position: 0px center;
	background-repeat: no-repeat;
	overflow: hidden;/*表示溢出的内容会被隐藏*/
	-o-text-overflow: ellipsis;    /* for Opera */
	text-overflow: ellipsis;        /* for IE *//*当文本溢出时显示…此时还必须定义：强制文本在一行内显示（white-space:nowrap）及溢出内容为隐藏（overflow:hidden）*/
	white-space: nowrap;/*表示文本不会换行*/
}

#content .more
{
	margin-right:20px;
    float: right;
    
}

#content .more a { color: #000; }
#content .more a:hover
{
	color:#F93;
} a:hover
{
	font-size: 13px;
}



#content .link_1
{
	float:left;
	width:100%;
	height:auto;
}
#content .link_2
{

	float:left;
	width:100%;
	height:auto;
}
#content .bottom_link
{
	list-style:none;
}
#content .bottom_link .first
{
	width:100px;
	background-color:#00FFFF;
	text-align:center;
}
#content .bottom_link li
{
	float:left;
	margin-left:15px;
} 
#content .div_link
{
	display:block;
	float:left;
	padding-left:20px;
	padding-bottom:5px;
	padding-top:10px;
}


/*===================*/
.block_home_slider {
width: 530px;
height: 310px;
padding: 1px;
position: relative;
background-color: white;
border: 4px solid #F2F2F2;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
text-align: center;
line-height: 0px;
}
.block_home_slider .slide {
position: relative;
height: 310px;
over-flow: hidden;
}
/*2012 12 06 */
#marquee1 ul li #title{width:100px;line-height:20px;height:20px;	overflow: hidden;/*表示溢出的内容会被隐藏*/
	-o-text-overflow: ellipsis;    /* for Opera */
	text-overflow: ellipsis;        /* for IE *//*当文本溢出时显示…此时还必须定义：强制文本在一行内显示（white-space:nowrap）及溢出内容为隐藏（overflow:hidden）*/
	white-space: nowrap;/*表示文本不会换行*/}
 #browsable .title {font-weight:normal;color: #fff;}