@CHARSET "UTF-8";

html, body
{
    font-family: 宋体,微软雅黑,Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000; 
}

html
{
	overflow-x: hidden;
}

applet,object,iframe,blockquote,pre,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,fieldset,form,label,legend,caption,tbody,tfoot,thead
    {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    line-height: 1;
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 微软雅黑;
}

ul {
    list-style: none;
}

li {
    
}

blockquote {
    quotes: none;
}

blockquote:before,blockquote:after {
    content: '';
    content: none;
}

del {
    text-decoration: line-through;
}

a img {
    border: none;
}

input,textarea,select,a {
    outline: 0px;
}

textarea {
    resize: none;
    overflow: auto;
}

aside,article,footer,header,section {
    display: block;
}

#MainBox
{
	position: relative;
	width: 990px;
	margin-left: auto;
	margin-right: auto;
	background: white;
	border-radius: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#sideBar
{
	position: absolute;	
	width: 280px;
	right: 0;
}

#categoryNavigationBar
{
	padding: 10px 0 0 0;
    margin: 0;
    display: block;
    list-style: none;
    height: 22px;
    line-height: 23px;
	border-bottom: 1px #ddd solid;
	width: 650px;
	color: #000;
	font-weight: bold;
}

.CategoryNavigationBar li
{
    padding: 0;
    margin: 0;
    display: block;
    float: left;
}


#categoryNavigationBar li:first-child
{
	margin-left: 10px;
	color: #000;
}

#categoryNavigationBar li a 
{
	color: #000;
	text-decoration: none;
}

#categoryNavigationBar li a:hover
{
	color: #ccc;
}

#title_style
{
	padding: 10px 0 0 0;
	width: 280px;
	height: 22px;
	line-height: 22px;
	border-bottom: 1px solid #ddd;
}

ul.TextList
{
	display: block;
	margin: 10px 0 0 0px;
    padding: 0;
	list-style: none inside url(/static/common/images/square.gif);
	
}

ul.TextList li
{
    line-height: 20px;
    margin: 0 0 10px 0;
    padding:　0;      
    margin-left: 5px;
    white-space:nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

ul.TextList li a
{
	text-decoration: none;
	color: #000;
}

ul.TextList li a:hover
{
	color: #ccc;
}

ul.TextList li a > div
{
	display: inline;
}

#title_style a
{
	color: #999;
	text-decoration: none;	
}

#title_style a:hover
{
	color: #ccc;
}
