*
{
	font-size: 12px;
	font-family: 宋体,微软雅黑,黑体,Arial;
}

html, body
{
    width: 100%;
    margin: 0;
    padding: 0;
}

img
{
	border: none;
}

a, b, button, code, div, i, input, label, li, menu, ol, p, pre, select, table, textarea, tr, td, th, ul menu
{
    font-size: 12px;
    padding: 0;
    margin: 0;
}

body
{
	padding: 0;
	margin: 0;
	background: url(../images/spring.jpg) fixed;
}

input
{
	outline: none;
    resize: none;
}

#layer1
{
	width: 100%;
	height: 100%;
	background: url(../images/whiteopacity.png) fixed repeat-x;
}

#code
{
	position: fixed;
	right: 0;
	top: 400px;
	border: 2px #fff solid;
	z-index: 99999999;
}

#header
{
	width: 990px;
	height: 110px;
	margin-left: auto;
	margin-right: auto;
}

#dynamic
{
	display: block;
	width: 350px;
	height: 110px;
	overflow:hidden;
	float: left;
}

#dttpList
{
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 165px;
	height: 110px;
}

#dttpList > img
{
	width: 350px;
	height: 110px;
}

#headerRight
{
	display: block;
	height: 100%;
	width: 300px;
	float: right;
}

#headerRight > #search
{
	margin-top: 30px;
	margin-bottom: 10px;
	float: right;
	overflow-y: hidden;
}

#searchline
{
	display: inline-block;
	height: 23px;
	width: 147px;
	float: left;
	background: url(../images/field.png) no-repeat;
}

#searchField
{
	width: 145px;
	height: 19px;
	border: none;
	margin: 2px 0 0 2px;
	padding: 0;
	background: transparent;
}

#searchBtn
{
	cursor: pointer;
	border: none;
	height: 23px;
	width: 24px;
	padding: 0;
	margin: 0;
	background: url(../images/btn.png) no-repeat;
}

#headerRight > #fastlink
{
	display: block;
	margin-top: 10px;
	float: right;
}

#fastlink span
{
	
}

#fastlink span a
{
	color: #468d00;
	text-decoration: none;
	margin: 0 5px;
}

#fastlink span a:hover
{
	text-decoration: underline;
}

#homemenu
{
	display: block;
	width: 990px;
	height: 34px;
	margin-left: auto;
	margin-right: auto;
	background: url(../images/menu_green.png) no-repeat;
}

#homemenu > li
{
	display: block;
	float: left;
	width: 110px;
	height: 30px;
}

#homemenu > li > a
{
	display: block;
	line-height: 30px;
	text-decoration: none;
	color: white;
	font-weight: bold;
	text-align: center;
}

#homemenu > li > a:hover
{
	background: url(../images/opacity-30.png);
}

#downlist
{
	display: none;
	width: 180px;
	padding: 0;
	margin: 0;
	background: url(../images/menuopacity.png);
	border-radius: 5px;
	position: absolute;
}

#downlist > li
{
	padding: 0;
	margin: 0;
	width: 100%;
	line-height: 34px;
}

#downlist > li > a
{
	display: block;
	width: 100%;
	height: 34px;
	line-height: 34px;
	text-decoration: none;
	text-align: left;
	color: white;
	margin-left: 10px;
}

#downlist > li > a:hover
{
	color: yellow;
}

#footer
{
	width: 100%;
	height: 60px;
	background: url(../images/greenopacity.png);
}

#footer > #copyright
{
	width: 990px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	color: #fff;
	font-weight: bold;
	text-align: center;
}

#copyright p
{
	color: #fff;
}

