/*头部*/
#header
{
	margin-left: auto;
	margin-right: auto;
	height: 40px;
	width: 990px;
	background: url(../images/headerbk.gif) repeat;
	overflow-y: hidden;
}

#linklabel
{
	height: 40px;
	width: 250px;
	float: left;
}

#linklabel ul
{
	height: 40px;
	width: 250px;
	float: left;
	margin-left: -35px;
}

#linklabel ul li 
{
	display: block;
	float: left;
	height: 40px;
	margin-left: 10px;
	margin-right: 10px;
}

#linklabel ul li a
{
	height: 40px;
	line-height: 20px;
	text-decoration: none;
	color: #fff;
	text-align: center;
}

#linklabel ul li a:hover
{
	color: #f64a32;
}

#login
{
	width: 390px;
	height: 40px;
	float: right;
}

#login ul
{
	width: 360px;
	height: 40px;
	display: block;
	float: left;
}

#login ul li
{
	color: #fff;
	float: left;
	display: block;
	height: 40px;
	line-height: 20px;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
}

#tf
{
	background: url(../images/tf.png) no-repeat;
	width: 120px;
	height: 24px;
	margin-top: 10px;
	line-height: 20px;
}

#login ul li #button
{
	line-height: 20px;
	border: none;
	height: 20px;
	width: 40px;
	background: url(../images/login.png) no-repeat;
	cursor: pointer;
}

#logo_search
{
	height: 140px;
	width: 990px;
	margin-left: auto;
	margin-right: auto;
}

#logo_search > #logo
{
	height: 140px;
	float: left;
	width: 620px;
	margin-left: -40px;
	margin-top: 10px;
}

#logo_search > #search
{
	height: 150px;
	float: right;
	width: 310px;
}

#search > #setting
{
	width: 175px;
	height: 20px;
	float: right;
	margin-top: 52px;
	text-align: right;
}

#search > #setting a
{
	color: #000000;
	font-size: 14px;
	text-decoration: none;
	font-family: 微软雅黑;
}

#search > #setting a:hover
{
	color: #f64a32;
}

#search > #searchbar
{	
	height: 34px;
	width: 304px;
	float: right;
	margin-top: 6px;
	background: url(../images/searchbar.gif) no-repeat;
}

#input
{
	width: 262px;
	height: 24px;
	margin-left: 3px;
	margin-top: 3px;
	float: left;
	font-size: 14px;
	line-height: 22px;
	font-family: 微软雅黑, 黑体;
	padding: 0;
}

#button
{
	height: 34px;
	width: 34px;
	border: none;
	float: left;
	margin-left: 1px;
	background: url(../images/searchbtn.gif) no-repeat;
	cursor: pointer; 
}

#main_menu 
{
	height: 34px;
	width: 990px;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	background: url(../images/bk.png) repeat-x;
}

#main_menu li.main
{
	width: 99px;
	height: 34px;
	float: left;
	display: inline-block;
	background:url(../images/line_menu.gif) no-repeat right; 
}

#main_menu li.main > a
{
	height: 34px;
	line-height: 34px;
	text-decoration: none;
	display: block;
	color: #ffffff;
	font-size: 13px;
	text-align: center;
	text-shadow: 0px -1px rgba(0, 0, 0, 0.5); 
}

#main_menu li.main > a:hover
{
	display: block;
	background:url(../images/bottom_menu.gif) no-repeat ; 
	background-position: bottom;
}


#main_menu li.main > ul
{
	width: 180px;
	margin: 0;
	padding: 0;
	visibility: hidden;
}

li.subMenu
{
	display: block;
	height: 34px;
	width: 178px;
	padding: 0;
	margin: 0;
	overflow:hidden; 
	background-color:#fdfdfd; 
	border-left:1px solid #f3f3f3; 
	border-right:1px solid #f3f3f3;
	border-top:1px solid #ffffff; 
	border-bottom:1px solid #f3f3f3;
}

li.subMenu > a
{
	width: 180px;
	height: 34px;
	line-height: 34px;
	font-family: 微软雅黑 ,黑体;
	font-size: 13px;
	display: block;
	text-align: left;
	margin-left: 20px;
	text-decoration: none;
	color:#6b6b6b;
}

li.subMenu > a:hover
{
	color: #f64a32;
	margin-left: 30px;
}

/*尾部*/
#bottom
{
	width: 990px;
	height: 240px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto; 
	background: url(../images/headerbk.gif) ;
	position: relative;
}


#bottom > #view
{
	height: 220px;
	width: 223px;
	left: 15px;
	position: absolute;
}

#bottom p
{
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}

#bottom > #view img
{
	height: 60px;
	width: 100px;
	border: 2px solid #f2f2f2;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow: #f2f2f2 0px 0px 5px;
	box-shadow: #f2f2f2 0px 0px 5px;
	margin: 5px 10px;	
}

#bottom > #fastlink
{
	width: 290px;
	height: 200px;
	position: absolute;
	left: 420px;
}



#bottom > #fastlink table
{
	margin: 10px 0 0 0;
	paddiong: 0;
}

#bottom > #fastlink table td
{
	height: 25px;
}

#bottom > #fastlink table tr td a
{
	color: #fff;
	font-size: 12px;
	text-decoration: none;
	margin-right: 30px;
}

#bottom > #fastlink  a:hover
{
	color: #f64a32;
}

#bottom #footer
{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	width: 990px;
	height: 30px;
	border: 1px solid #fff;
	bottom: 0;
}

#bottom #footer p
{
	font-size: 10px;
	font-weight: normal;
}
