*
{
	font-size: 12px;
	font-family: 宋体,微软雅黑,黑体,Arial;
}

html, body
{
    width: 100%;
    margin: 0;
    padding: 0;
}

#content p
{
	margin-top:3px;
	margin-bottom:3px;
}

img
{
	border: none;
}

a, b, button, code, div, i, input, label, li, menu, ol, p, pre, select, table, textarea, tr, td, th, ul menu
{
    font-size: 12px;
    padding: 0;
    margin: 0;
}


body
{
	padding: 0;
	margin: 0;
	background: url(../images/spring2.jpg) fixed #FFF no-repeat;
	background-position:center;
}

input
{
	outline: none;
    resize: none;
}

#layer1
{
	width: 100%;
	height: 100%;
	/*background: url(../images/whiteopacity.png) fixed repeat-x;*/
}

#code
{
	position: fixed;
	right: 0;
	bottom:10px;
	z-index: 99999999;
}

#header
{
	width: 990px;
	height: 110px;
	margin-left: auto;
	margin-right: auto;
}

#MainBox
{
	margin-top:10px;
}
#dynamic
{
	display: block;
	width: 350px;
	height: 110px;
	overflow:hidden;
	float: left;
}

#dynamic a{
	display:block;
	width:100%;
	height:100%;
}

#dttpList
{
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 165px;
	height: 110px;
}

#dttpList   img
{
	width: 350px;
	height: 110px;
}

#headerRight
{
	display: block;
	height: 100%;
	width: 300px;
	float: right;
}

#search
{
	display:block;
	width:171px;
	height:23px;
	margin-top: 30px;
	margin-bottom: 10px;
	float: right;
	overflow-y: hidden;
}

#searchline
{
	display: inline-block;
	height: 23px;
	width: 147px;
	float: left;
	background: url(../images/field.png) no-repeat;
}

#searchField
{
	line-height:19px;
	width: 145px;
	height: 19px;
	border: none;
	margin: 2px 0 0 2px;
	padding: 0;
	background: transparent;
}

#searchBtn
{
	float:left;
	cursor: pointer;
	border: none;
	height: 23px;
	width: 24px;
	padding: 0;
	margin: 0;
	background: url(../images/btn.png) no-repeat;
}

#headerRight #fastlink
{
	width:265px;
	height:22px;
	display: block;
	margin-top: 10px;
	float: right;
}

#fastlink span
{
	
}

#fastlink span a
{
	color: #468d00;
	text-decoration: none;
	margin: 0 5px;
}

#fastlink span a:hover
{
	text-decoration: underline;
}

#homemenu
{
	display: block;
	width: 990px;
	height: 34px;
	margin-left: auto;
	margin-right: auto;
	background: url(../images/menu_green.png) no-repeat;
}

#homemenu   li
{
	display: block;
	float: left;
	width: 110px;
	height: 30px;
	cursor:pointer;
}

#homemenu   li   a
{
	display: block;
	line-height: 30px;
	text-decoration: none;
	color: white;
	font-weight: bold;
	text-align: center;
}

#downlist
{
	display: none;
	width: 150px;
	padding: 0;
	margin: 0;
	background: url(../images/menuopacity.png);
	border-radius: 5px;
	position: absolute;
}

#downlist   li
{
	padding: 0;
	margin: 0;
	width: 100%;
	height:34px;
	line-height: 34px;
}

#downlist  li a
{
	display: block;
	width: 100%;
	height: 34px;
	line-height: 34px;
	text-decoration: none;
	text-align: left;
	color: white;
	margin-left:25px;
}

#homemenu   li:hover{
	background-color:#366c00;
}

#downlist   li   a:hover
{
	color: yellow;
}

#footer
{
	box-shadow:2px 2px 3px #303030;
	width: 990px;
	height: 60px;
	background: url(../images/greenopacity.png);
	margin:0 auto 2px auto;
}

#footer   #copyright
{
	width: 990px; 
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	color: #fff;
	font-weight: bold;
	text-align: center;
}

#copyright p,#copyright font
{
	display:block;
	height:20px;
	
	color: #fff;
}

#content span,#content font,#content p,#content a
{
	line-height:150%;
	font-size:12pt;
}
#title
{
	color:#000;
}
#content img
{
	display:block;
	margin-bottom:5px;
} 
#tpxwMorelabel
{
	position: absolute;
	display: block;
	height: 20px;
	width: 50px;
	top: 229px;
	left: 10px;
	z-index:100;
	background: #60be00;
	border-radius: 5px;
}
#tpxwMorelabel a
{
	color: white;
	display: block;
	height: 100%;
	width: 100%;
	font-weight: bold;
	text-decoration: none;
	padding: 4px 0;
	text-align: center;
}

#title_style strong
{
	display:block;
	float:left;
}

a #title:hover
{
	color:#999;
}

#postDetail {
	width: 702px;
	border:0;
	border-right: 1px solid #ccc;
	padding-right: 2px;
	border-radius:10px 0 0 0;
	
}

#categoryNavigationBar {
	padding-top: 10px;
	width: 700px;
}

#content {
	margin: 10px auto 30px auto;
	line-height: 20px;
	width: 644px;
	border: 1px dashed #BBB;
	padding:0 10px;
}

#content>table
{
	margin:3px auto;
}

#sideBar {
	padding-right: 3px;
	border-bottom: 1px solid #ccc;
}

#title_style strong{
	padding-left:3px;
}

#sideBar li {
	border-bottom: 1px #ddd dashed;
	width:100%;
}

#xwdtList1 #title{text-align:center;}

#content>.MsoNormal{
	margin-top:5px;
	margin-bottom:5px;
	line-height: 150%; 
	font-family: 宋体;
	font-size: 12pt; 
	/*text-indent: 2em;*/
}

#content>div{
	margin-top:5px;
	margin-bottom:5px;
	line-height: 150%; 
	font-family: 宋体;
	font-size: 12pt; 
	/*text-indent: 2em;*/
}

#content{
	margin-top:5px;
	margin-bottom:5px;
	line-height: 150%; 
	font-family: 宋体;
	font-size: 12pt; 
	/*text-indent: 2em;*/
}
#content table{text-indent: 0;}
#content table div{text-indent: 0;}

/*图片新闻选择*/
#select{
	position:absolute;
	width:90px;
	height:20px;
	top:223px;
	right:-3px;
	z-index:10000;
}
.selectC{
	margin:3px 5px 0 0;
	width:15px;
	height:15px;
	float:left;
	background-color:#CCC;
	cursor:pointer;
	line-height:15px;
	text-align:center;
	color:#468d00;
	opacity:0.5;
	font-weight:bold;
}
/*END*/