/*头部*/
#header
{
	margin-left: auto;
	margin-right: auto;
	height: 40px;
	width: 990px;
	background: url(../images/headerbk.gif) repeat;
	overflow-y: hidden;
}

#linklabel
{
	height: 40px;
	width: 250px;
	float: left;
}

#linklabel ul
{
	height: 40px;
	width: 250px;
	float: left;
	margin-left: -35px;
}

#linklabel ul li 
{
	display: block;
	float: left;
	height: 40px;
	margin-left: 10px;
	margin-right: 10px;
}

#linklabel ul li a
{
	height: 40px;
	line-height: 20px;
	text-decoration: none;
	color: #fff;
	text-align: center;
}

#linklabel ul li a:hover
{
	color: #f64a32;
}


ul#mail
{
	width: 140px;
	display: block;
	float: right;
	list-style: none;
}


ul#mail li a
{
	color: #fff;
	float: left;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
	padding: 0 10px 0 10px;
}

ul#mail li a:hover
{
	color: #f64a32;
}

#tf
{
	background: url(../images/tf.png) no-repeat;
	width: 120px;
	height: 24px;
	margin-top: 10px;
	line-height: 20px;
}

#login ul li #button
{
	line-height: 20px;
	border: none;
	height: 20px;
	width: 40px;
	background: url(../images/login.png) no-repeat;
	cursor: pointer;
}

#logo_search
{
	height: 140px;
	width: 990px;
	margin-left: auto;
	margin-right: auto;
}

#logo_search > #logo
{
	height: 140px;
	float: left;
	width: 620px;
	margin-left: -40px;
	margin-top: 10px;
}

#logo_search > #search
{
	height: 150px;
	float: right;
	width: 310px;
}

#search > #setting
{
	width: 175px;
	height: 20px;
	float: right;
	margin-top: 52px;
	text-align: right;
}

#search > #setting a
{
	color: #000000;
	font-size: 14px;
	text-decoration: none;
	font-family: 微软雅黑;
}

#search > #setting a:hover
{
	color: #f64a32;
}

#search > #searchbar
{	
	height: 34px;
	width: 304px;
	float: right;
	margin-top: 6px;
	background: url(../images/searchbar.gif) no-repeat;
}

#input
{
	width: 262px;
	height: 24px;
	margin-left: 3px;
	margin-top: 3px;
	float: left;
	font-size: 14px;
	line-height: 22px;
	font-family: 宋体,微软雅黑, 黑体;
	padding: 0;
}

#button
{
	height: 34px;
	width: 34px;
	border: none;
	float: left;
	margin-left: 1px;
	background: url(../images/searchbtn.gif) no-repeat;
	cursor: pointer; 
}

#main_menu 
{
	height: 34px;
	width: 990px;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	background: url(../images/bk.png) repeat-x;
}

#main_menu li.main
{
	width: 99px;
	height: 34px;
	float: left;
	display: inline-block;
	background:url(../images/line_menu.gif) no-repeat right; 
}

#main_menu li.main > a
{
	height: 34px;
	line-height: 34px;
	text-decoration: none;
	display: block;
	color: #ffffff;
	text-align: center;
	text-shadow: 0px -1px rgba(0, 0, 0, 0.5); 
}

#main_menu li.main > a:hover
{
	display: block;
	background:url(../images/bottom_menu.gif) no-repeat ; 
	background-position: bottom;
}


#main_menu li.main > ul
{
	width: 180px;
	margin: 0;
	padding: 0;
	visibility: hidden;
	position: absolute;
}

li.subMenu
{
	display: block;
	height: 34px;
	width: 178px;
	padding: 0;
	margin: 0;
	overflow:hidden; 
	background-color:#fdfdfd; 
	border-left:1px solid #f3f3f3; 
	border-right:1px solid #f3f3f3;
	border-top:1px solid #ffffff; 
	border-bottom:1px solid #f3f3f3;
}

li.subMenu > a
{
	width: 180px;
	height: 34px;
	line-height: 34px;
	display: block;
	text-align: left;
	margin-left: 20px;
	text-decoration: none;
	color:#6b6b6b;
}

li.subMenu > a:hover
{
	color: #f64a32;
}

/*尾部*/
#bottom
{
	width: 990px;
	height: 200px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto; 
	background: url(../images/headerbk.gif) ;
	position: relative;
}


#bottom > #view
{
	height: 220px;
	width: 223px;
	left: 15px;
	position: absolute;
}

#bottom p
{
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}

#bottom > #view img
{
	height: 60px;
	width: 100px;
	border: 2px solid #f2f2f2;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow: #f2f2f2 0px 0px 5px;
	box-shadow: #f2f2f2 0px 0px 5px;
	margin: 5px 10px;	
}

#bottom > #fastlink
{
	width: 480px;
	height: 200px;
	position: absolute;
	left: 50px;
}



#bottom > #fastlink table
{
	margin: 10px 0 0 0;
	paddiong: 0;
}

#bottom > #fastlink table tr
{
	width: 450px;
}

#bottom > #fastlink table td
{
	height: 20px;
	width: 140px;
}

#bottom > #fastlink table tr td > a
{
	color: #fff;
	font-size: 12px;
	text-decoration: none;
}

#bottom > #fastlink  a:hover
{
	color: #f64a32;
}

#bottom #footer
{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	width: 990px;
	height: 30px;
	border: 1px solid #fff;
	bottom: 0;
}

#bottom #footer p
{
	font-size: 10px;
	font-weight: normal;
}

#body
{
	width: 990px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#bodyContent
{
	width: 690px;
	min-height: 500px;
}

#title_style
{
	width: 280px;
	height: 22px;
	line-height: 22px;
	border-bottom: 1px solid #ddd;
}

ul.TextList
{
	display: block;
	margin: 10px 0 0 0px;
    padding: 0;
	list-style: none inside url(/static/common/images/square.gif);
	
}

ul.TextList li
{
    line-height: 20px;
    margin: 0 0 10px 0;
    padding:　0;      
    margin-left: 5px;
    white-space:nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

ul.TextList li a
{
	text-decoration: none;
	color: rgba(0, 0, 0, 0.8);
}

ul.TextList li a:hover
{
	color: rgba(0, 0, 0, 0.4);
}

ul.TextList li a > div
{
	display: inline;
}

#title_style a
{
	color: #bebebe;
	text-decoration: none;	
}

#title_style a:hover
{
	color: rgba(0, 0, 0, 0.4);
}

#sideBar
{
	position: absolute;	
	width: 280px;
	right: 0;
}

/*#sideBar #ywhgList
{
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
    padding: 0;
}

#sideBar #ywhgList li
{
	width: 280px;
	line-height: 28px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	list-style:none inside url(../images/list.gif);
}

#sideBar #ywhgList li a
{
	color: #000;
	text-decoration: none;
}

#sideBar #ywhgList li a:hover
{
	color: rgba(0, 0, 0, 0.5);
}*/


#categoryNavigationBar
{
	padding: 0;
    margin: 0;
    display: block;
    list-style: none;
    height: 22px;
    line-height: 23px;
	border-bottom: 1px #ddd solid;
	width: 650px;
	color: #000;
	font-weight: bold;
}

.CategoryNavigationBar li
{
    padding: 0;
    margin: 0;
    display: block;
    float: left;
}

#categoryNavigationBar li:first-child
{
	margin-left: 10px;
	color: #000;
}

#categoryNavigationBar li a 
{
	color: #000;
	text-decoration: none;
}

#categoryNavigationBar li a:hover
{
	color: rgba(0, 0, 0, 0.5);
}



