#more
{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#postList
{
	display: block;
	list-style: none;
	margin: 0;
    padding: 0;
    height: 100%;
    min-height: 650px;
    width: 692px;
    border-right: 1px #ddd solid;
}

#postList li
{
	width: 680px;
    line-height: 28px;
    margin: 0;
    padding:　0;
    list-style:none inside url(/static/common/images/list.png);
    border-bottom: 1px #ddd dashed;   
    margin-left: 5px;
}

#postList li a
{
	text-decoration: none;
	color: rgba(0, 0, 0, 0.8);
}

#postList li a:hover
{
	color: rgba(0, 0, 0, 0.4);
}

#postList li a > div
{
	display: inline;
}

#postList li span
{
	float: right;
}

#postList #pageNavigationBar
{
    margin-top: 20px;
	margin-left: 280px;
}

#postList #pageNavigationBar a
{
	color: rgba(0, 0, 0, 0.8);
	text-decoration: none;
}

#postList #pageNavigationBar a:hover
{
	color: rgba(0, 0, 0, 0.4);	
}

#MainBox
{
	position: relative;
	width: 990px;
	margin-left: auto;
	margin-right: auto;
	background: white;
	border-radius: 10px;
	margin-top: 15px;
}

#sideBar
{
	position: absolute;	
	width: 280px;
	right: 0;
}

#categoryNavigationBar
{
	padding: 10px 0 0 0;
    margin: 0;
    display: block;
    list-style: none;
    height: 22px;
    line-height: 23px;
	border-bottom: 1px #ddd solid;
	width: 650px;
	color: #000;
	font-weight: bold;
}

.CategoryNavigationBar li
{
    padding: 0;
    margin: 0;
    display: block;
    float: left;
}


#categoryNavigationBar li:first-child
{
	margin-left: 10px;
	color: #000;
}

#categoryNavigationBar li a 
{
	color: #000;
	text-decoration: none;
}

#categoryNavigationBar li a:hover
{
	color: #ccc;
}

#title_style
{
	padding: 10px 0 0 0;
	width: 280px;
	height: 22px;
	line-height: 22px;
	border-bottom: 1px solid #ddd;
}

ul.TextList
{
	display: block;
	margin: 10px 0 0 0px;
    padding: 0;
	list-style: none inside url(/static/common/images/square.gif);
	
}

ul.TextList li
{
    line-height: 20px;
    margin: 0 0 10px 0;
    padding:　0;      
    margin-left: 5px;
    white-space:nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

ul.TextList li a
{
	text-decoration: none;
	color: #000;
}

ul.TextList li a:hover
{
	color: #ccc;
}

ul.TextList li a > div
{
	display: inline;
}

#title_style a
{
	color: #999;
	text-decoration: none;	
}

#title_style a:hover
{
	color: #ccc;
}