#postDetail
{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-height: 600px;
    border-right: 1px #ddd solid;
    padding-right: 2px;
}

#postDetail h1
{
	text-align: center;
}

#info 
{
	text-align: center;
	margin-bottom: 10px;
}

#info a
{
	color: #3399CC;
	text-decoration: none;
}

#info a:hover
{
	color: #339900;
}

#summary
{
	border: 1px #bbb dashed;
	padding-left: 20px;
	padding-right: auto;
	padding-bottom: 10px;
	padding-top: 10px;
	color: #3399cc;
	line-height: 16px;
	margin-left: auto;
	margin-right: auto;
	width: 630px;	
}

#content img
{
	margin-top: 10px;
	margin-left: 40px;
	border: 1px solid #ddd;
	-moz-box-shadow: gray 0px 3px 10px;
	box-shadow: gray 0px 3px 10px;	
}

#imageContent
{
	width: 250px;
	padding: 0;
	margin: 30px 0 0 30px;
	float: left;
}

#imageContent img
{
	height: 200px;
	width: 250px;
	border: 1px solid #ddd;
	box-shadow: gray 0px 3px 10px;	
	padding: 5px;
}

#textContent
{
	width: 650px;
	margin:30px 0 0 350px;
}

#content
{
	width: 650px;
}

#attachmentList
{
	display: block;
	padding: 0;
	margin: 0;
}

#attachmentList a
{
	text-decoration: none;
}

#attachmentList a:hover
{
	text-decoration: underline;
}

