#search
{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#MainBox
{
    position: relative;
    width: 990px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#search #info
{
    font-size: 14px;
    padding-top: 18px;
    padding-left: 18px;
}

#search #info #keyword
{
    font-size: 14px;
    color: red;
    font-weight: bold;
}

#postList
{
    display: block;
    list-style: none;
    margin: 0;
    padding: 32px;
    padding-top: 18px;
    padding-bottom: 18px;
    height: 100%;
    min-height: 650px;
    width: 800px;
    list-style:inside url(/static/common/images/list.png);
}

#postList > li
{
    margin-bottom: 18px;
}

#postList > li span
{
    font-size: 13px;
    line-height: 16px;
}

#postList > li a
{
    color: blue;
    line-height: 30px;
}

#postList > li a span
{
    font-size: 16px;
    line-height: 30px;
}

#postList > li .keyword
{
    color: red;
    font-weight: bold;
}

#postList > li #date
{
    display: block;
    color: green;
    line-height: 22px;
}

#postList > li .ellipsis
{
    font-size: 12px;
    color: gray;
}