@CHARSET "UTF-8";


html, body
{
	padding: 0;
	margin: 0;
	overflow-x: hidden; 
	overflow-y: auto; 
	

}

#header
{
	height: 130px;
	width: 990px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	padding-top:20px;
	background-color:#0d5791;
}

#header > #_logo
{
	margin: 20px 0 0 0;
	height: 60px;
	width: 700px;
	float: left;
}

#header > #link_search
{
	margin: 20px 10px 0 0;
	height: 60px;
	width: 200px;
	float: right;
}

#link_search > #search
{
	padding: 0;
	margin: 0;
	width: 160px;
	height: 22px;
	background: url(/static/xiandai/image/searchbar.png) no-repeat;

}

#description
{
	width: 118px;
	height: 22px;
	line-height: 20px;
	padding: 0;
	margin: 0;
	float: left;
	border: 0;
	background-color: #FFFFFF;
	color: #888787;
	font-size: 12px;

}

#button
{
	float: left;
	height: 22px;
	width: 23px;
	background: url(/static/xiandai/image/searchButton.png);
	background-repeat: no-repeat;
	border: 0;
	padding: 0;
	margin: 0;
	cursor: pointer;

}

#link_search #text
{
	width: 200px;
	height: 20px;
	padding: 0;
	margin: 0;
	padding-left: 10px;
}

#link_search #text a
{
	color: #fff;
	font-size: 12px;
	font-family: 寰蒋闆呴粦;
	text-decoration: none;
}

#link_search #text a:hover {color:rgba(0,0,0,0.5);}



menu#mainmenu
{
	display: block;
	width: 980px;
	height: 32px;
	list-style: none;
	padding: 0;
	margin:  0;
	margin-left: auto;
	margin-right: auto;
	margin-top:25px;
	border-bottom:1px solid #fff;
}

menu#mainmenu li a
{
	display: block;
	height: 32px;
	line-height: 32px;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	list-style: none;
	font-size: 10px;
}


menu#mainmenu li a:hover
{

	color: #098ef6;
	font-size: 10px;
}

.singleMenu
{
	float: left;
	font-size: 15px;
	font-family: 黑体;
	display: inline-block;
	height: 32px;
	width: 140px;
	padding: 0;
	margin: 0;
	background-color:#0d5791;
}







#bottom
{
	width: 990px;
	height: 150px;
	margin-left: auto;
	margin-right: auto; 
	background-color:#0d5791;
	position: relative;
	overflow-x: hidden; 
	overflow-y: hidden; 

}


#bottom > #view
{
	height: 220px;
	width: 223px;
	left: 15px;
	position: absolute;
}

#bottom p
{
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}

#bottom > #view img
{
	height: 60px;
	width: 100px;
	border: 2px solid #f2f2f2;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow: #f2f2f2 0px 0px 5px;
	box-shadow: #f2f2f2 0px 0px 5px;
	margin: 5px 10px;	
}

#bottom > #fastlink
{
	border-right:1px solid #fff;
	padding:0;
	margin-top:10px;
	width: 480px;
	height: 100px;
	position: absolute;
	left: 50px;
}



#bottom > #fastlink table
{
	margin: 10px 0 0 0;
	paddiong: 0;
}

#bottom > #fastlink table tr
{
	width: 450px;
}

#bottom > #fastlink table td
{
	height: 20px;
	width: 140px;
}

#bottom > #fastlink table tr td > a
{
	color: #fff;
	font-size: 12px;
	text-decoration: none;
}

#bottom > #fastlink  a:hover
{
	color: #098ef6;
}

#bottom #footer
{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	width: 990px;
	height: 30px;
	border-top: 1px solid #fff;
	bottom: 0;
}

#bottom #footer p
{
	padding:5px;
	font-size: 10px;
	font-weight: normal;
}
#categoryNavigationBar
{
	padding: 0;
    margin: 0;
    display: block;
    list-style: none;
    height: 30px;
    line-height: 30px;
	border-bottom: 1px #ddd solid;
	width: 990px;
	color: #000;
	font-weight: bold;
}

#categoryNavigationBar li
{
    padding: 0;
    margin: 0;
    display: block;
    float: left;
}

#categoryNavigationBar li:first-child
{
	margin-left: 10px;
	color: #000;
}

#categoryNavigationBar li a 
{
	color: #000;
	text-decoration: none;
}

#categoryNavigationBar li a:hover
{
	color: #0d5791;
}
#more
{
	width:990px;

		background-image: url(/static/xiandai/image/di.png);
}
#postList
{


}
#postList li
{
	width:980px;
}
#postList li a 
{
	width:980px;
}

#postDetail
{
	width:990px;
}
#summary 
{
	text-align: center;
}
#content
{
	line-height: 20px;
	width:990px;
}