@CHARSET "UTF-8";


#content
{
	margin:0;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 990px;	/*已修改过*/
	height: 605px;	
	background-image: url(/static/xiandai/image/di.png);

}

#content > #mainContent
{
	padding: 0;
	margin: 0;
	position: absolute;
	width: 990px;	/*已修改过*/
	height: 605px;  /*已修改过*/
	float: left;
}

#content > #sidebar
{
	padding: 0;
	margin: 0;
	margin-top:15px;
	position: absolute;
	width: 181;		/*已修改过*/
	height: 600px;  /*已修改过*/
	left: 806px;
	font-family: 微软雅黑;
	font-size: 12px;
	border-left: 1px solid #e6e4db;
}

#content > #mainContent > #picNews
{
	width: 550px;	/*已修改过*/
	margin: 0;
	padding : 0;
	height: 300px;
	float:left;
	margin-left:20px;
	margin-top:15px;
}

#content > #mainContent > #textNews
{
	width: 400px;   /*已修改过*/	
	margin: 0;
	padding : 0;
	height: 300px;
	float:right;
	margin-top:15px;

}

#content > #mainContent > #informs
{
	width: 550px;   /*已修改过*/
	margin: 0;
	padding : 0;
	height: 300px;
	float:left;
	margin-top:15px;
	margin-left:20px;
	overflow: hidden;
}

#content > #mainContent > #teaching
{
	width: 200px;	/*已修改过*/
	margin: 0;
	padding : 0;
	height: 300px;
	float:left;
	margin-top:15px;
	margin-left:10px;
	overflow: hidden;
}
#content > #mainContent > #redian
{
	width: 200px;	/*已修改过*/
	margin: 0;
	padding : 0;
	height: 300px;
	float:left;
	margin-top:15px;
	margin-left:10px;
	overflow: hidden;
}

#picNews > #browsable
{
	width: 550px;	/*已修改过*/
	height: 300px;
	float: left;
	margin: 0;
	padding: 0;
}

#box
{
	position: relative;
	width: 540px;	
	height: 290px;
	margin: 0 0 0 5px;
	padding: 0;
	float: left;
	border: 1px solid #098ef6;
	-moz-box-shadow: #098ef6 0px 3px 10px;
	box-shadow: #098ef6 0px 3px 10px;	
}

#box .list
{
	padding: 0;
	margin: 0;
	width: 540px;
	height: 290px;
	list-style-type: none;
	background: #fff; 
}

#box .list li
{
	position: absolute;
	top: 5px;
	left: 5px;
	width: 360px;
	height: 220px;
	opacity: 0;
	filter: alpha(opacity=0);
}

#box .list li.current
{
	opacity: 1;
	filter: alpha(opacity=100);
}

#box .list li a.title
{
	background-color: rgba(0,0,0,0.6);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#A0000000', EndColorStr='#A0000000');
	position: absolute;
	top: 0;
	left: 0;
	width: 530px;
	height: 24px;
	text-decoration: none;
	font: 12px Microsoft YaHei, Verdana;
	color: #fff;
	text-align: center;
	line-height: 25px;
}

#box .count
{
	position: absolute;
	bottom: 5px;
	left: -30px;
	list-style-type: none;
}

#box .count li
{
	font-size: 11px;
	font-family: Microsoft YaHei;
	color: #000000;
	float: left;
	width: 15px;
	height: 15px;
	cursor: pointer;
	text-align: center;
	margin-right: 9px;
	background: #FFFFFF;
	opacity: 0.7;
	filter: alpha(opacity=70);
	border-radius: 0px;
}

#box .count li.current
{
	color: #fff;
	opacity: 1;
	filter: alpha(opacity=100);
	font-weight: 250;
	background: #f60;
}


#content > #mainContent > #textNews ul
{
	margin:10px 0 0 0;
	padding:0;
	list-style:url(/static/xiandai/image/list.png);
	list-style-position:inside;
}

#content > #mainContent > #textNews li
{
	padding: 0;
	margin: 6px 0 0 0;
	width: 400px;			/*已修改过*/
	font-size: 13px;
	color:#000000;

}
#content > #mainContent > #textNews li #title
{
	width: 400px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
#content > #mainContent a
{
	font-family: 微软雅黑;
	font-size: 13px;
	color:#000000;
	text-decoration: none;
}
#content > #mainContent a:hover
{
	color: #098ef6;
	text-decoration: none;
}

#content > #mainContent > #informs ul
{
	margin:10px 0 0 0;
	padding:0;
	list-style:url(/static/xiandai/image/list.png) inside ;
}

#content > #mainContent > #informs li
{
	padding: 0;
	margin: 6px 0 0 0;
	width: 550px;		/*已修改过*/
	font-size: 13px;
	color:#000000;
}
#content > #mainContent > #informs li #title
{
	width: 550px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
#content > #mainContent > #teaching ul
{
	margin:10px 0 0 0;
	padding:0;
	list-style:url(/static/xiandai/image/list.png) inside ;
}

#content > #mainContent > #teaching li 
{
	padding: 0;
	margin: 6px 0 0 0;
	width: 320px;		/*已修改过*/
	font-size: 13px;
	color:#000000;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#content > #mainContent > #redian ul
{
	margin:10px 0 0 0;
	padding:0;
	list-style:url(/static/xiandai/image/list.png) inside ;
}

#content > #mainContent > #redian li 
{
	padding: 0;
	margin: 6px 0 0 0;
	width: 320px;		/*已修改过*/
	font-size: 13px;
	color:#000000;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}



#more1
{
	padding: 0;
	margin: 5px 10px 0 0;
	width: 80px;
	height: 20px;
	float: right;
	font-size: 18px;
}
#text
{
	color: #000000; 
	font-size: 12px; 
	float: right; 
	margin: 35px 60px 10px 0;
}
.block_home_slider {
	width:530px;
	height:280px;
	padding:1px;
	position:relative;
	
	background-color:#ffffff;
	border:4px solid #f2f2f2;
	
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	
	text-align:center;
	line-height:0px;
}

.block_home_slider .slide {position:relative; height: 280px; over-flow: hidden;}
.block_home_slider .caption {padding:0px; position:absolute; left:0px; right:0px; bottom:0px; background:url(../../home/images/bg_caption.png); text-align:center; height: 30px;}
.block_home_slider .caption p {padding-bottom:0px; font-size:11px; color:#dedede; text-shadow:0px -1px #000000; line-height:11px;}
.block_home_slider .caption p.title {padding-bottom:0px; font-size:15px; color:#ffffff; font-weight:bold; line-height:5px;}
.block_home_slider .flex-direction-nav a {width:25px; height:25px; margin-top:-27px; display:block; position:absolute; top:50%; background-repeat:no-repeat; background-image:url(../../home/images/sprite_arrow_2.png); text-indent:-9000px;}
.block_home_slider .flex-direction-nav a.flex-prev {left:6px; background-position:left top;}
.block_home_slider .flex-direction-nav a.flex-prev:hover {background-position:left bottom;}
.block_home_slider .flex-direction-nav a.flex-next {right:6px; background-position:right top;}
.block_home_slider .flex-direction-nav a.flex-next:hover {background-position:right bottom;}
.block_home_slider .flex-control-paging {padding-top:15px; display:inline-block;}
.block_home_slider .flex-control-paging li {margin:0px; padding:0px; float:left; overflow:hidden;}
.block_home_slider .flex-control-paging li a {width:12px; height:12px; display:block; background-repeat:no-repeat; background-image:url(../../home/images/sprite_nav_3.png); text-indent:-9000px; cursor:pointer;}
.block_home_slider .flex-control-paging li a.flex-active {background-position:right top;}


.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; height:280px;-webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width:530px;height:280px; display: block; }
.flex-pauseplay span {text-transform: capitalize;}

.flexslider {position: relative; zoom: 1;}
.flex-viewport {max-height: 2000px; height:280px;-webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

