@charset "utf-8";
/* CSS Document */


html, body
{
	padding: 0;
	margin: 0;	
	text-align: center;
}

#headpart{
	padding: 0;
	margin: 0 auto;
	height: 140px;
	width: 990px;
	background: #009bcb;	
}

#headlogo{
	padding: 0;
	margin: 0;
	height:70px;
	width: 990px;
	position:absolute;
	top: 20px;	
	display:block;
}

#logo{
	
	margin: 0;
	padding: 0;
	float: left;
	margin-left: 10px;
	
}

#head_logo{	
	float:left;	
}

#mainpage
{
	height: 70px;
	width: 180px;
	float: right;
	text-align:left;
	margin-left:0px;
	margin-top: 10px;
	
}

#mainpage a
{
	color: #fff;
}

#mainpage a: hover
{
	color: rgba(0, 0, 0, 0.5);	
}

#searchbar
{
	
	float: right;
	width: 180px;
	height: 22px;
	padding: 0;
	margin: 10px 0 0 0;
	background: url(/static/jiuye/images/searchbar.png) no-repeat;
}

.word {
	width:118px;
	height: 22px;
	line-height: 22px;
	padding: 0;
	margin: 0;
	float: left;
	border: 0;
	background-color: #FFFFFF;
	color: #888787;
	font-size: 10px;

}

.button {
	float: left;
	height: 21px;
	width: 23px;
    background: url(/static/jiuye/images/searchButton.png);
	background-repeat: no-repeat;
	border: 0;
	padding: 0;
	margin: 0;
	cursor: pointer;

}


#headmenu{
	width: 990px;
	position:absolute;
	top: 90px;
	text-align:center
}

menu#mainmenu
{ 
	display: block;
	width: 900px;
	height: 32px;
	list-style: none;
	padding: 0;
	margin: 5px 0 0 0;
	margin-left: auto;
	margin-right: auto; 
	border-bottom: 1px #fff solid;   
}

.singleMenu
{
	float: left;
	font-size: 12px;
	font-family: 黑体;
	display: inline-block;
	height: 32px;
	width: 140px;;
	padding: 0;
	margin: 0 ;
}

a{
	text-decoration: none;
}
menu#mainmenu li a
{
	display: block;
	height: 32px;
	line-height: 32px;
	color: #fff;	
	text-align: center;
	list-style: none;
}


menu#mainmenu li > a:hover
{
	color: rgba(0, 0, 0, 0.5 );
}

#link_search
{
	width: 200px;
	float: right;
	margin-right: 15px;
	margin-top: 8px;
}


#link_search #text
{
	width: 200px;
	line-height: 15px;
	padding: 0;
	margin: 0;
	padding-left: 20px;
	text-align: left;
}

#link_search #text a
{
	color: #fff;
	font-size: 12px;
	text-decoration: none;
}

#link_search #text a:hover
{
	color: rgba(0, 0, 0, 0.5);
}


#description
{
	width:118px;
	height: 22px;
	line-height: 22px;
	padding: 0;
	margin: 0;
	float: left;
	border: 0;
	background-color: #FFFFFF;
	font-size: 12px;
}

#button
{
	float: left;
	height: 22px;
	width: 23px;
	background: url(/static/jiuye/images/button.png) no-repeat;
	background-repeat: no-repeat;
	border: 0;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

#search
{
	padding: 0;
	margin: 5px 0 0 0;
	width: 160px;
	height: 22px;
	background: url(/static/xuegong/images/text.png) no-repeat;
}


#foot > #footer
{
	margin: 0px 0 0 0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	height: 163px;
	width: 990px;
	background: #009bcb;
	line-height: 23px;
	font-size: 12px;
	text-align:center;
	position:relative;
	text-decoration: none;

}

 #bottom{
	width: 990px;
	height: 132px;
	margin: 0 auto;
	
}
#fastlink1, #fastlink2
{
	display: inline-block;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}
#fastlink1
{
	margin:0px 0px 0px 70px;
	border-right: 1px solid #fff;
	width:450px;
}
#fastlink2
{
	margin:0px 0px 0px 20px;
}
	
.fastLink a
{
	font: 宋体;
	font-size:12px;
	font-weight: normal;
	color: #FFF;
}
.fastLink table td
{
	width:140px;
	height: 20px;
	text-decoration: none;
	}
.fastLink table td a
{text-decoration: none;}	
.fastLink table td a:hover
{
 color: rgba(0, 0, 0, 0.5);
}
#righttable
{
	margin: 22px 0 0 0;
	
}


#footButtom{
	width: 990px;
	height: 32px;
	margin: 0 auto;

	border-top: 1px #FFFFFF solid; 
	text-align:center;
}
#foot > #footer > #bottom1 
{
 
	margin-left: auto;
	margin-right: auto;
	width: 990px;
	height: 30px;
	border-top: 1px solid #fff;
	bottom: 0;
	position:absolute;
	line-height: 10px;
}

#foot > #footer > #bottom1 span
{
	font-size: 12px;
	color:#fff;
	line-height: 30px;
}
