@charset "utf-8";

#mainContent
{
	padding: 0;
	margin: 0 auto;
	width: 990px;
	height: 600px;
	position: relative;
	background: url(/static/jiuye/images/c_bk.png);
	font-size: 14px;
}

#postDetail{
	margin:0;
	padding: 0px;
	width: 692px;	
	border-right: 1px solid #ccc;
	background-size:cover;
	text-align:center;
	overflow: hidden;	
}

ul > li a > div
{
	font-size:13.5px;
	display: inline;
}

#mainContent > #workNews{
	background-color:#FFF;
	position: absolute;
	left: 15px;
	top: 10px;
	margin: 0;
	width: 290px;
	height: 273px;
	border:1px solid #009bcb;
	border-radius:0 0 0 15px;
	border-top:0;
	
}

#mainContent > #emNews
{
	background-color:#FFF;
	position: absolute;
	right: 10px;
	top: 10px;
	margin: 0;
	padding: 0 10px 0 0;
	width: 280px;
	height: 270px;
	border:1px solid #009bcb;
	border-radius:0 0 0 15px;
	border-top:0;
}

#mainContent > #browsable
{
	background-color:#FFF;
	position: absolute;
	margin: 0;	
	padding: 0;
	width: 350px;
	height: 265px;	
	left: 318px;
	top: 10px;
	border: 4px solid #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.block_home_slider {
	width:350px;
	height:265px;
	padding:0;
	margin:0;
	position:relative;	
	background-color:#ffffff;
	text-align:center;
	line-height:0px;
}

.block_home_slider .slide {position:relative; height: 230px; over-flow: hidden;}
.block_home_slider .caption {padding:0px; position:absolute; left:0px; right:0px; bottom:0px; background:url(../../home/images/bg_caption.png); text-align:center; height: 30px;}
.block_home_slider .caption p {padding-bottom:0px; font-size:11px; color:#dedede; text-shadow:0px -1px #000000; line-height:25px;}
.block_home_slider .caption p.title { font-size:15px; color:#ffffff; font-weight:bold;margin:0;line-height:25px; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap;}
.block_home_slider .flex-direction-nav a {width:25px; height:25px; margin-top:-27px; display:block; position:absolute; top:50%; background-repeat:no-repeat; background-image:url(../../home/images/sprite_arrow_2.png); text-indent:-9000px;}
.block_home_slider .flex-direction-nav a.flex-prev {left:6px; background-position:left top;}
.block_home_slider .flex-direction-nav a.flex-prev:hover {background-position:left bottom;}
.block_home_slider .flex-direction-nav a.flex-next {right:6px; background-position:right top;}
.block_home_slider .flex-direction-nav a.flex-next:hover {background-position:right bottom;}
.block_home_slider .flex-control-paging {padding-top:5px; display:inline-block;}
.block_home_slider .flex-control-paging li {margin:0px; padding:0px; float:left; overflow:hidden;}
.block_home_slider .flex-control-paging li a {width:12px; height:12px; display:block; background-repeat:no-repeat; background-image:url(../../home/images/sprite_nav_3.png); text-indent:-9000px; cursor:pointer;}
.block_home_slider .flex-control-paging li a.flex-active {background-position:right top;}
.flexslider .slides img { width: 340px;height: 230px;}

#mainContent > #zfNews
{	
	background-color:#FFF;
	position: absolute;
	margin: 0;
	padding: 0 10px 0 0;
	width: 290px;
	height: 280px;
	left: 15px;
	top: 300px;
	border:1px solid #009bcb;
	border-radius:0 0 0 15px;
	border-top:0;
}

#mainContent > #zyghNews
{
	background-color:#FFF;
	position: absolute;
	top: 300px;
	left: 340px;
	margin: 0;
	width: 315px;
	height: 280px;
	border:1px solid #009bcb;
	border-radius:0 0 0 15px;
	border-top:0;
}

#mainContent > #jyzdNews
{	
	background-color:#FFF;
	position: absolute;
	top: 300px;
	right: 10px;
	margin: 0;
	width: 300px;
	height: 280px;
	border:1px solid #009bcb;
	border-radius:0 0 0 15px;
	border-top:0;
}

#workNews ul
{
	padding: 0;
	margin: 10px 0 0 10px;
	list-style-type:square;
	list-style-position: inside;
}

#workNews ul > li
{
	margin: 0;
	padding: 5px 0 0 0;		
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-align: left;
}

#emNews ul
{
	padding: 0;
	margin: 10px 0 0 10px;
	list-style-type:square;
	list-style-position: inside;
}

#emNews ul > li
{
	margin: 0;
	padding: 5px 0 0 0;	
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-align: left;
}

#zfNews ul
{
	padding: 0;
	margin: 10px 0 0 10px;
	list-style-type:square;
	list-style-position: inside;
}

#zfNews ul > li
{
	margin: 0;
	padding: 5px 0 0 10px;	
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-align: left;
}

#zyghNews ul
{
	padding: 0;
	margin: 10px 0 0 10px;
	list-style-type:square;
	list-style-position: inside;
}

#zyghNews ul > li
{
	margin: 0;
	padding: 5px 0 0 0;	
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-align: left;
}

#jyzdNews ul
{
	padding: 0;
	margin: 10px 0 0 10px;
	list-style-type:square;
	list-style-position: inside;
}

#jyzdNews ul > li
{
	margin: 0;
	padding: 5px 0 0 0;	
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-align: left;
}

#mainContent a
{
	text-decoration: none;
	color: #000;
}

#mainContent a:hover
{
	color: #009bcb;
}

.CategoryNavigationBar{
padding: 0;
display: block;
list-style: none;
height: 30px;
line-height: 30px;
border-bottom: 1px #ddd solid;
width: 990px;
color: #000;
font-weight: bold;
color: #999999;
	
}

.CategoryNavigationBar a{
	
	color: #000000;
}

#categoryNavigationBar li:first-child{
	margin-left: 10px;
	color: #000000;
}

.CategoryNavigationBar li{
padding: 0;
margin: 0;
margin-left: 10px;
display: block;
float: left;	
}



h1 {
display: block;
font-size: 2em;
-webkit-margin-before: 0.67em;
-webkit-margin-after: 0.67em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
}


#content{

	font-size: 20px;
	margin: 0 auto;
	width: 850px;
	margin-top: 15px;
	
}

	
.m_More{
	width:40px;
	height:15px;
	display:block;
	font-size: 14px;
	position:absolute;
	bottom:-1px;
	right:-1px;
}

#emNews .m_More
{
	margin-top: 5px;
}
#zfNews .m_More,#jyzdNews .m_More
{
	margin:15px 0 0 261px;
}
#zyghNews .m_More
{
	margin:15px 0 0 276px;
}

.m_More a
{
	display:block;
	width:100%;
	height:100%;
	background-image:url(/static/jiuye/images/more.jpg);
}

.m_More a:hover
{
	background-image:url(/static/jiuye/images/moreh.jpg);
}

#tsztList li{
	width:350px;
	height:265px;
	display:none;
}

#tsztList > #post1 {
	display: block;
}

.bx-caption {
	width: 350px;
	height: 27px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: rgb(0, 155, 203);
	background: rgba(0, 155, 203, 0.55);
	display: none;
}

#tsztList > #post1 > .bx-caption
{
	display:block;
}

.bx-caption span {
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
	color: #FFF;
}

#browsable #home_slider li
{
	list-style:none;
	border:0;
}

