@CHARSET "UTF-8";
*
{
	overflow:hidden;
	margin: 0;
	padding: 0;
	font-family: '微软雅黑';
	font-size: 12px;
}

a
{
	text-decoration:none;
}

li
{
	list-style:none;
	overflow: hidden;
	-o-text-overflow: ellipsis;    
	text-overflow: ellipsis;        
	white-space: nowrap;
}


hr{height:0; border-top:1px dotted #ccc; background:#fff; color:#fff;}

p#sj
{
	color: #fff;
	font-weight: bold;
	font-style: italic;
}

#title
{
	font-size:14px;
}

html, body
{
	margin-left: auto;
	margin-right: auto;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0;
}
body { /*background-color: #cfcfcf; */background:url(/static/faculty/common/images/body_bg.png);}
ul { list-style: none; }



#header
{
	height: 130px;
	width: 990px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	background-color: #155897;
}

#header > #_logo
{
	margin: 35px 0 0 0;
	height: 60px;
	width: 700px;
	background:url(/static/jiaowu/images/logo.png) no-repeat;
	float: left;
}

#header > #link_search
{
	margin: 40px 10px 0 0;
	height: 60px;
	width: 200px;
	float: right;
}

#link_search > #search
{
	padding: 0;
	margin: 10px 0 0 0;
	width: 160px;
	height: 22px;
	background: url(/static/jiaowu/images/textfield.png) no-repeat;
}

#description
{
	width: 118px;
	height: 22px;
	line-height: 20px;
	padding: 0;
	margin: 0;
	float: left;
	border: 0;
	background-color: #FFFFFF;
	color: #888787;
	font-size: 12px;
}

#button
{
	float: left;
	height: 22px;
	width: 23px;
	background: url(/static/jiaowu/images/button.png) no-repeat;
	background-repeat: no-repeat;
	border: 0;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

#link_search #text
{
	width: 200px;
	height: 20px;
	padding: 0;
	margin: 0;
	padding-left: 20px;
}

#link_search #text a
{
	color: #fff;
	font-size: 14px;
	font-family: '微软雅黑';
	text-decoration: none;
}

#link_search #text a:hover { color: #7BA566; }


/*menu*/
#ja-mainnavwrap
{
	width: 990px;
	height: 36px;
	margin: 0 auto;
}

#ja-mainnav, #ja-mainnav ul {
	padding: 0;
	margin: 0;
	line-height: 20px;
}

#ja-mainnav a {
	display: block;
	line-height: 20px;
	margin: 0;
	padding: 10px 20px;
}

#ja-mainnav a span{font-size:13px;}

#ja-mainnav li 
{ /* all list items */
	float: left;
	margin: 0;
	padding: 0;
}

/*--------------------------- VISUAL ----------------------------*/
/* -------- All levels -------- */
#ja-mainnavwrap {
	border-top: 1px solid #1e699b;
	border-bottom: 1px solid #1e699b;
	background: #155897;
}
#ja-mainnav ul, #ja-mainnav li {
	background-images: none;
	list-style: none;
}


/* -------- Top level -------- */
#ja-mainnav > ul {
	background-color: #155897;
	padding-left: 20px;
}

#ja-mainnav > ul > li {
	background-color: #444444;
	border-left: 1px solid #104c96;
	border-right: 1px solid #2d759b;
	margin-right: 1px;
}

#ja-mainnav > ul > li.active {
	background: url(/static/jiaowu/images/hover.png) no-repeat bottom center #444444;
	color: #CCCCCC;
}

#ja-mainnav > ul > li:hover,
#ja-mainnav > ul > li:active,
#ja-mainnav > ul > li:focus {
	background: url(/static/jiaowu/images/hover.png) no-repeat bottom center #555555;
	color: #FFFFFF;
}

#ja-mainnav ul.menu {
	margin: 0 ; /* all lists */
	padding: 0;
	padding-left:30px;
	float: left;
	border-right: 1px solid #555555;
}

#ja-mainnav ul.menu ul {
	margin: 0; /* all lists */
	padding: 0;
}

.menu>li{height:37px;}

#ja-mainnav ul.menu li {
	margin: 0; /* all list items */
	padding: 0;
	float: left;
	display: block;
	background: none;
	cursor: pointer;
	position: relative;
	list-style: none;
}
#ja-mainnav ul.menu .end a{border-right: 1px solid #1e699b;}


/* STYLING THE MENU
-----------------------------------*/
/* 1st level */
#ja-mainnav ul.menu li a {
	margin: 0;
	padding: 10px 20px;
	border-right: 1px solid #1e699b;
	border-left: 1px solid #0a4396;
	display: block;
	color: #CCCCCC;
	font-weight: bold;
	line-height: normal;
	text-decoration: none;
}

#ja-mainnav ul.menu li a:hover,
#ja-mainnav ul.menu li a:active,
#ja-mainnav ul.menu li a:focus {
	background: url(/static/jiaowu/images/hover.png) no-repeat bottom center #104a8e;
	color: #FFFFFF;
}

#ja-mainnav ul.menu li {
	margin: 0;
}

#ja-mainnav ul.menu li:hover,
#ja-mainnav ul.menu li.sfhover,
#ja-mainnav ul.menu li.parentsfhover,
#ja-mainnav ul.menu li.parent-activesfhover {
	background: url(/static/jiaowu/images/hover.png) no-repeat bottom center #555555;
	color: #FFFFFF;
}

#ja-mainnav h3 {
	display: none;
}

#ja-mainnav .moduletable_menu {
	background: none;
	margin: 0;
	padding: 0;
}

#categoryNavigationBar
{
	padding: 0;
    margin: 0;
    display: block;
    list-style: none;
    height: 30px;
    line-height: 30px;
	border-bottom: 1px #ddd solid;
	width: 990px;
	color: #ccc;
	font-weight: bold;
}

.CategoryNavigationBar li
{
    padding: 0;
    margin: 0;
    display: block;
    float: left;
}

#categoryNavigationBar li:first-child
{
	margin-left: 10px;
	color: #ccc;
}

#categoryNavigationBar li a 
{
	color: #ccc;
	text-decoration: none;
}

#categoryNavigationBar li a:hover
{
	color: #888;
}

#bodyContent
{
	position:relative;
	width: 990px;
	margin-left: auto;
	margin-right: auto;
	background:white;
}

#postDetail
{
	margin-top: 10px;
	border-right:1px solid #ccc;
}

#content
{
	margin:0 auto;
	line-height: 20px;
	width:610px;
	border:1px dashed #BBB;
	border-top:1px dotted #BBB;
}
#postDetail h1
{
	margin-top:10px;
	font-size: 20px;
}
#info
{
	margin-top:10px;
	font-size: 15px;
}
/**/

/*尾部*/
#footer
{
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	height: 51px;
	width: 990px;
	background-color: #155897;
	line-height: 23px;
	font-size: 12px;
	text-align:center;
	position:relative;
	text-decoration: none;

}

 #bottom1{
	width: 990px;
	height: 120px;
	position: absolute;
	left:0;
	
}

#fastlink1, #fastlink2
{
	display: inline-block;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	margin: 10px 0 0 50px;
	text-decoration: none;
}

#fastlink1
{
	border-right: 1px solid #fff;
	width:450px;
	position: absolute;
	left:0;
}

#fastlink2
{
	width:450px;
	position: absolute;
	right:0;
}
	
.fastLink a
{
	font: 宋体;
	font-size:12px;
	font-weight: normal;
	color: #FFF;
}

table td
{
	width:140px;
	height: 20px;
	text-decoration: none;
	padding: 0;
}

.fastLink table td a
{text-decoration: none;}

.fastLink table td a:hover
{
color: #7BA566;
}

#bottom2
{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	width: 990px;
	height: 50px;
	bottom: 0;
	border-top: 1px #fff solid;
	color: #fff;
	left: 0;
}


#bottom2 p
{
	padding: 0;
	margin: 0;
	line-height: 15px;
	float: left;
	clear: both;
}

#bottom2 span > a
{
	color: #fff;
	text-decoration: none;
}
#bottom2 #copyright
{
	display: block;
	position: absolute;
	top: 5px;
	left: 10px;
	padding: 0;
	height: 50px;
}

#copyright span
{
	float: left;
}

#bottom2 span > a:hover
{
color: #7BA566;
}

#bottom2 > #website
{
	position: absolute;
	left: 400px;
	top: 10px;
	text-align: center;
}

#website a
{
	display: block;
	text-decoration: none;
	padding: 5px 0 4px 75px; 
	color: #fff;
}

#website a:hover
{
	color: #7BA566;
}


#bottom2 > #developer
{
	position: absolute;
	right: 0;
	width: 190px; 
	margin: 0; 
	padding: 0; 
	display: bolck;
	text-align: left;
	color: #fff;
}

#developer ul
{
	margin: 10px 0 0 0;
	padding: 0;	
	float: left;
}

#developer li
{
	display: block;
	height: 20px;
	line-height: 12px;
}

#developer a
{
	color: #fff;
	text-decoration: none;
}

#developer a:hover
{
color: #7BA566;
}

#developer span
{
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}


/****/
#left_part ul li #title
{	
	margin-top:4px;;
	overflow: hidden;/*表示溢出的内容会被隐藏*/
	-o-text-overflow: ellipsis;    /* for Opera */
	text-overflow: ellipsis;        /* for IE *//*当文本溢出时显示…此时还必须定义：强制文本在一行内显示（white-space:nowrap）及溢出内容为隐藏（overflow:hidden）*/
	white-space: nowrap;/*表示文本不会换行*/
}

/*12-10*/
#more .PostList li{list-style:none;padding-left:20px;width:680px;background-image:url(/static/jiaowu/images/moreList.png);background-repeat:no-repeat;}
#bodyContent>#more>#postList{width:100%;list-style-image:none;}

#sideBar{margin-right:5px;margin-top:8px;}

#more
{
	border-right:1px solid #ccc;
	margin-top: 10px;
	width: 692px;
	min-height: 650px;
	height: 100%;
	padding-right: 10px;
	margin-left:0;
}

#more li{position:relative;}

a #title{width:560px;color:#000;overflow:hidden;line-height:30px;}
a #title:hover{color:#808080;}
#categoryNavigationBar{width:700px;}
#title_style span{position:absolute;top:8px;right:5px;}
#postList li a{width:532px;display:block;}

#tupian
{
	width:333px;
	height:273px;
	border:5px solid #d3dae2;
	border-radius:5px;
	margin:5px 1px 15px auto;
}

#position_2
{
	float:right;
}
#right_part #zztglist a>#title{font-size:14px;width:100%;overflow:hidden;text-overflow: ellipsis;}
#firstCate{border-radius:5px 0 0 0;}
#home_slider{width:100%;height:100%;}
#tupianList{width:333px;height:273px;background-color:#E3e8ec;}
#tupianList>#post1{display:block;}
#tupian ul li img{border:0;display:block;width:333px;height:273px;position:absolute;top:0;left:0;}
.bx-caption
{
	position:absolute;
	top:0;
	left:0;
	width:333px;
	height:30px;
	z-index:1000;
	background-color: rgb(21,88, 151);
	background: rgba(21,88, 151, 0.7);
	opacity:0.7;
	display:none;
}
.bx-caption span
{
	display:block;
	width:333px;
	height:30px;
	font-size:16px;
	color:#fff;
	text-align:center;
	line-height:30px;
}
#post1 .bx-caption{background-color: rgb(21,88, 151);background: rgba(21,88, 151, 0.7);opacity:0.7;}

#post1>.bx-caption{display:block;}
#postList li #date
{
	right:20px;
}