/*正文*/
@CHARSET "UTF-8";
#ja-containerwrap-fr
{
	width: 990px;
	margin: 0 auto;
}

#ja-containerwrap-fr a { color: #7BA566; }


/***/
 #left_part
{
	float:left;
	width:70%;
	padding:0;
	font-size: 12px;
	position: relative;
	height: 900px;
}
 #left_part #left_column_1
{
	float:left;
	width:50%;
	padding:0;
	margin:0;
	position: absolute;
}
#left_part #left_column_2
{
	float:right;
	width:50%;
	padding:0;
	margin:0;
	right:0px;
	position: absolute;
}
div.category_1
{
	margin-top:5px;
	border:1px solid #d3dae2;
	border-top:0;
	border-radius:5px 5px 0 0;
	height: 100%;
	padding: 0;
	margin-left:10px;
	padding-right:10px;
	margin-bottom: 15px;

}
div.category_1 #position_2
{
	width: 60px;
	height: 20px;
	float: right;

}

div.category_1 #position_2 a
{
	width:100%;
	height:100%;
	text-align:right;
	line-height:20px;	
}

.left_category_column_1
{
	padding-left:10px;
	 height: 230px;
}

div.category_name
{
	width:337px;
	height:40px;
	margin: 0;
	background-image:url(/static/jiaowu/images/jiaowuLabel.jpg);
	line-height: 20px;
	display: block;
}
div.category_1 h3
{
	padding: 0 0 5px 10px;
	padding:0;
	margin: 0;
	color: #b1b1ad;
	font-size: 125%;
	font-weight: bold;
	text-transform: uppercase;
}
#ja-containerwrap-fr .category_1 a
{
	color:#000;
}
#left_part .latestnews_menu
{
	min-height:222px;
	line-height:22px;
	padding-left:10px;
}

#left_part .row_1
{
	height:22px;
	margin-top:5px;
	padding-left:10px;
	text-overflow: ellipsis;
}

#left_part .menu
{
	padding-left:10px;
	padding-right:30px;
}
#left_part .link_2
{
	height:22px;
	line-height:22px;
	margin-top:5px;
	padding-left:20px;
}


.contentheading, .componentheading, .blog_more strong, h1, h2, h3, h4 { font-family: "Segoe UI", Arial, Helvetica, sans-serif; }

#left_part h3
{
	padding-left:10px;
	display: block;
	font-size: 1.57em;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
	color:#155897;
}

#left_part ul
{
	min-height:222px;
	margin-left: -10px;
}

#left_part #tupian ul{margin-left: 0;}

#left_part ul li
{
	padding-left: 20px;
	margin: 0;
	width:290px;
	line-height:25px;
	background: url(/static/jiaowu/images/list.png) no-repeat 5px 50%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 15px;
	color:#000000;
}

#left_part  a:hover{color:#7BA566;}
/****/

#right_part
{
	width: 30%;
	float: right;
	height: 880px;
	background-color:#f6f6f6;
	border-radius:0 15px 0 0;
	margin-top:5px;
}

#ja-containerwrap-fr #right_part .menu a {
	padding: 2px 0;
	text-decoration: none;
	outline: none;
	color: #7BA566; 
}
#ja-containerwrap-fr #right_part .menu a span{
	font-size:14px;
	line-height:20px;
}
#ja-containerwrap-fr #right_part .menu a:hover { padding: 2px 0;
	display: block;
	text-decoration: none;
	outline: none;
	background-color:rgb(221, 221, 221); 
}
#ja-containerwrap-fr #right_part .menu a #title{
	width:250px;
	text-overflow: ellipsis;
}


#changYong{ height:150px;}
#jiaowuJian{ height:210px;}


div.moduletable, div.moduletable_menu, div.moduletable_text
{
	padding: 0;
	padding-left:10px;
	padding-right:10px;
	width:280px;
	background: url(../images/hdot.gif) repeat-x bottom;
}

#right_part .latestnews_menu 
{
	height:220px;
	line-height:22px;
	margin-top:5px;
}
#right_part .menu
{
	width:100%;
}
#right_part .link_2
{
	width:100%;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCC;
	height:22px;
	line-height:16px;
	margin-top:5px;
}

div.moduletable h3, div.moduletable_menu h3, div.moduletable_text h3
{
	padding: 0 0 8px;
	margin: 0;
	color: #7BA566;
	font-size: 125%;
	font-weight: bold;
	text-transform: uppercase;
}

.contentheading, .componentheading, .blog_more strong, h1, h2, h3, h4 { font-family: "Segoe UI", Arial, Helvetica, sans-serif; }

#right_part h3
{user agent stylesheet
	display: block;
	font-size: 1.57em;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 0;
	padding-bottom: 0;
	color: #155897;
}

#right_part ul li, #ja-col2 ul li
{
	padding-left: 15px;
	line-height:18px;
	margin: 0;
	width:250px;
	background: url(../images/bullet.png) no-repeat 5px 50%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 15px;
	color:#000000;
	margin-top:3px;
}
#tongzhi{height:280px;}
#guoji{height:200px;}
#home_slider>ul>li
{
	display:none;
	width:333px;
	height:273px;
	list-style:none;
	margin:0;
	padding:0;
}
.news{ width:30px; height:15px;background: url(../images/NEW-23.gif) no-repeat 5px 50%;position:absolute;}
#news1{ top:55px; left:295px;}
#news2{top:95px; left:295px;}
#news3{top:132px; left:295px;}

#ja-containerwrap-fr .category_1 #jwxwlist a{display:inline;}
#ja-containerwrap-fr .category_1 #jwxwlist a>#title{width:270px;}