@charset "utf-8";
html
{
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	overflow-y:auto; 	
}

body
{
	padding: 0;
	margin: 0;
	overflow-y: hidden; 
}
a
{
	text-decoration: none;
}

a:hover
{
	color:#ccc;
}
	



#head
{
	padding:0;
	margin:0;
	border:0;
	width: 990px;
	height: 190px;
	margin: 0 auto;
	background-color:#8e1818;
	
	
	
}

/*头部*/
#headLogo
{
	padding:0;
	margin:0;
	border:0;
	width: 990px;
	height: 140px;
	
}
/*校院 Logo*/
#schoolLogo
{
	padding:0;
	margin: 0;
	border:0;
	float: left;
	height: 80px;
}
	
#ruanyanlogo
{
	clear: both;
	display:block;
	margin: 0 auto;
	margin-left:400px;
}
	
/*搜索栏*/
#Search
{
	margin:0px;
	padding:0px;
	width: 230px;
	height: 80px;
	float: right;
	display: inline-block;
}
#link_search
{
	margin-top: 17px;
	height: 60px;
	width: 200px;

}/**/
#link_search #text
{
	width: 200px;
	height: 20px;
	padding: 0;
	margin: 0;
	margin-left:40px;

}

#link_search #text a
{
	color: #fff;
	font-size: 12px;
	font-family: 宋体;
	text-decoration: none;
}

#link_search #text a:hover { color: rgba(88, 88, 88, 1); }



#link_search > #search
{
	padding: 0;
	margin: 10px 0 0 30px;
	width: 160px;
	height: 22px;
	background: url(/static/ruanyan/images/textfield.png) no-repeat;
}


#description
{
	width: 118px;
	height: 22px;
	line-height: 20px;
	padding: 0;
	margin: 0;
	float: left;
	border: 0;
	background-color: #FFFFFF;
	color: #888787;
	font-size: 12px;
}
#button
{
	float: left;
	height: 22px;
	width: 23px;
	background: url(/static/ruanyan/images/button.png) no-repeat;
	background-repeat: no-repeat;
	border: 0;
	padding: 0;
	margin: 0;
	cursor: pointer;
}


/*导航栏*/

#headMenu
{
	padding:0;
	margin:0;
	border:0;
	width: 990px;
	height: 36px;
	text-align: center;
	
}

#mainMenu
{
	padding:0;
	margin:0 auto;
	border-bottom: 1px #eee6cb solid; 
	width: 966px;
	height:34px;
	display:block;
	list-style: none;
	
}


#mainMenu .singleMenu
{
	float: left;
	font-size: 12px;
	width: 138px;
	font-family: 宋体;
	display: inline-block;
	text-align:center;
	line-height: 34px;

}

#mainMenu .singleMenu a
{
	color: #fff;
	
	}
#mainMenu .singleMenu a:hover
{
	color: rgba(88, 88, 88, 1);
	
	
	}
	

















#footer
{
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	height: 170px;
	width: 990px;
	background-color:#8e1818;
	line-height: 23px;
	font-size: 12px;
	text-align:center;
	position:relative;
	text-decoration: none;

}

 #bottom1{
	width: 990px;
	height: 120px;
	position: absolute;
	left:0;
	
}

#fastlink1, #fastlink2
{
	display: inline-block;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	margin: 10px 0 0 50px;
	text-decoration: none;
}

#fastlink1
{
	border-right: 1px solid #fff;
	width:450px;
	position: absolute;
	left:0;
}

#fastlink2
{
	width:450px;
	position: absolute;
	right:0;
}
	
.fastLink a
{
	font: 宋体;
	font-size:12px;
	font-weight: normal;
	color: #FFF;
}

table td
{
	width:140px;
	height: 20px;
	text-decoration: none;
	padding: 0;
}

.fastLink table td a
{text-decoration: none;}

.fastLink table td a:hover
{
	color:#ccc;
}

#bottom2
{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	width: 990px;
	height: 50px;
	bottom: 0;
	border-top: 1px #fff solid;
	color: #fff;
	left: 0;
}


#bottom2 p
{
	padding: 0;
	margin: 0;
	line-height: 15px;
	float: left;
	clear: both;
}

#bottom2 span > a
{
	color: #fff;
	text-decoration: none;
}
#bottom2 #copyright
{
	display: block;
	position: absolute;
	top: 5px;
	left: 10px;
	padding: 0;
	height: 50px;
}

#copyright span
{
	float: left;
}

#bottom2 span > a:hover
{
	color:#ccc;
}

#bottom2 > #website
{
	position: absolute;
	left: 350px;
	top: 5px;
	text-align: center;
}

#website a
{
	display: block;
	text-decoration: none;
	padding: 5px 0 4px 110px; 
	color: #fff;
}

#website a:hover
{
	color:#ccc;
}


#bottom2 > #developer
{
	position: absolute;
	right: 0;
	width: 190px; 
	margin: 0; 
	padding: 0; 
	display: bolck;
	text-align: left;
	color: #fff;
}

#developer ul
{
	margin: 10px 0 0 0;
	padding: 0;	
	float: left;
}

#developer li
{
	display: block;
	height: 20px;
	line-height: 12px;
}

#developer a
{
	color: #fff;
	text-decoration: none;
}

#developer a:hover
{
	color:#ccc;
}

#developer span
{
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}
#categoryNavigationBar 
{
	padding: 0 0 0 10px;
	margin: 0;
	display: block;
	list-style: none;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px #ddd solid;
	width: 988px;
	color: #000;
	font-weight: bold;
	text-align: left;
}



.CategoryNavigationBar li 
{
	padding: 0;
	margin: 0;
	display:inline-block;

}

.CategoryNavigationBar li a
{
	padding: 0;
	margin: 0;
	color:black;

}