#more
{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background: #FFFFFF;
  
    font:14px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
   
    
}

#postList
{
	display: block;
	list-style: none;
	margin: 0;
    padding: 0;
}

#postList li
{
    line-height: 18px;
    margin: 0;
    padding:　0;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    text-align:left;
}

#postList #pageNavigationBar
{
    margin-top: 20px;
}

#categoryNavigationBar
{
	
	list-style: none;

}
#categoryNavigationBar li
{
    list-style: none;
    text-align:left;
}


