#postDetail
{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    color: #000;
    background: #ffffff;
}
#postDetail h1{
	font-size: 18px;
	text-align: center;
	font-weight: bolder ；
}
.info{
	
	text-align: center;
	
}
#content img {
margin-top: 10px;
height: 160px;
width: 280px;


border: 1px solid #DDD;
-moz-box-shadow: gray 0px 3px 10px;
box-shadow: gray 0px 3px 10px;
align:center;



}

#categoryNavigationBar
{
	padding: 0;
    margin: 0;
    display: block;
    list-style: none;
    height: 30px;
    line-height: 30px;
	border-bottom: 1px #ddd solid;
	width: 990px;
	color: #000;
	font-weight: bold;
}
.CategoryNavigationBar li
{
    padding: 0;
    margin: 0;
    display: block;
    float: left;
}


	

