#loginPanel
{
    display: none;
    width: 360px;
    height: 280px;
    margin: auto;
    margin-top: 220px;
}

#loginPanel > #logo
{
    position: relative;
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

#loginForm
{
    position: relative;
    width: 360px;
    height: 85px;
    background: url(images/login_form_bg.png) no-repeat;
}

#loginForm > div
{
    height: 43px;
    line-height: 43px;
    padding-left: 15px; 
}

#loginForm > div > label
{
    display: inline-block;
    width: 60px;
    color: #696969;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 1px white;
}

#loginForm > div > input
{
    width: 260px;
    background: transparent;
    border: none;
    color: #888;
    font-size: 16px;
    font-weight: bold;
}

#loginForm > #loginButton
{
    width: 360px;
    height: 43px;
    margin-top: 15px;
    color: #696969;
    background: url(images/login_button_bg.png) no-repeat;
    border: none;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 1px white;
}

#loginForm > #loginButton:active
{
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.5);
}